
		
		<!-- Breadcrumb Section Start -->
		<div class="pt-3">
			<div class="container">
				<div class="row">
					<div class="col">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb bg-transparent px-0">
							  <li class="breadcrumb-item"><a href="/" class="text-secondary">Home</a></li>
							  <li class="breadcrumb-item text-primary active" aria-current="page">404</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Error Section Start -->
		<div class="full-row pt-5">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 mx-auto">
						<div class="text-center">
							<span class="fa fa-exclamation-triangle text-primary" style="font-size: 60px"></span>
							<h2 class="my-4">404 Page not found</h2>
							<p>The page you are looking for dosen’t exist or another error occourd go back to home or another source</p>
							<a class="btn btn-secondary mt-5" href="/">Return to home</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Error Section End -->
