
		
		<!-- Breadcrumb Section Start -->
		<div class="pt-3">
			<div class="container">
				<div class="row">
					<div class="col">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb bg-transparent px-0">
							  <li class="breadcrumb-item"><a href="/" class="text-secondary">Home</a></li>
							  <li class="breadcrumb-item"><a href="/careers" class="text-secondary">Careers</a></li>
							  <li class="breadcrumb-item text-primary active" aria-current="page">Application</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumb Section End -->	

		<!-- Application Section Start -->
		<div class="full-row pt-5">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="row">
							<div class="col-lg-12 mb-4">
								<h4 class="down-line mb-4">Job Description</h4>
								<ul class="mb-2">
									<li><b>Job Title:</b> Executive Officer</li>
									<li><b>Vacancy:</b> 2 Person</li>
								</ul>
								<p>Posuere ante tincidunt sed porta senectus fusce interdum. Dictum class semper Ornare venenatis habitant sodales. Venenatis volutpat torquent. Curae; suspendisse ligula suscipit magna. Interdum dapibus in nulla mollis velit taciti mollis gravida torquent lacus lobortis volutpat elementum leo pharetra.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 mb-4">
								<h4 class="down-line mb-4">Position Summary</h4>
								<ul class="mb-2">
									<li><b>Location:</b> Head Office, Victory Island, Lagos Nigeria</li>
									<li><b>Depeartment:</b> Security Supply</li>
									<li><b>Salary:</b> ₦55K - ₦95K</li>
								</ul>
								<p>Posuere ante tincidunt sed porta senectus fusce interdum. Dictum class semper Ornare venenatis habitant sodales. Venenatis volutpat torquent. Curae; suspendisse ligula suscipit magna. Interdum dapibus in nulla mollis velit taciti mollis gravida torquent lacus lobortis volutpat elementum leo pharetra.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 mb-4">
								<h4 class="down-line mb-4">Position Summary</h4>
								<ul class="decimal-list">
									<li>Integer lacinia mus sociosqu. Velit enim interdum dictumst. Sed leo inceptos egestas diam diam luctus.</li>
									<li>Quam natoque duis hymenaeos torquent curabitur sit hymenaeos laoreet felis.</li>
									<li>Curabitur vel amet aenean aliquet suscipit aenean fermentum, tincidunt purus interdum id.</li>
									<li>A nonummy magnis nibh ridiculus enim viverra aenean.</li>
									<li>Lacus id torquent amet vestibulum iaculis odio lacinia cubilia magna sociosqu cursus condimentum magnis phasellus wacus conubia eget viverra eros aliquam dictum.</li>
									<li>Fringilla ornare elementum dis eget Hac libero mus ut ut facilisi porttitor leo nascetur dui lacinia diam egestas purus globortis ad eu </li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 mb-4">
								<h4 class="down-line mb-4">Application Here</h4>
								<form action="#" method="post" novalidate="novalidate">
									<div class="row">
										<div class="form-group col-md-6">
											<input class="form-control bg-light" id="first-name" name="first-name" placeholder="First Name*" type="text">
										</div>
										<div class="form-group col-md-6">
											<input class="form-control bg-light" id="last-name" name="last-name" placeholder="First Last*" type="text">
										</div>
										<div class="form-group col-md-6">
											<input class="form-control bg-light" id="email" name="email" placeholder="Email*" type="text">
										</div>
										<div class="form-group col-md-6">
											<input class="form-control bg-light" id="address" name="address" placeholder="Address*" type="text">
										</div>
										<div class="form-group col-md-6">
											<input class="form-control bg-light" id="city" name="city" placeholder="City*" type="text">
										</div>
										<div class="form-group col-md-6">
											<input class="form-control bg-light" id="zip-code" name="zip-code" placeholder="Zip Code*" type="text">
										</div>
										<div class="form-group col-md-6">
											<input class="form-control bg-light" id="country" name="country" placeholder="Country*" type="text">
										</div>
										<div class="form-group col-md-6">
											<select class="form-control bg-light">
												<option>Select Your Job Title</option>
												<option>Position-1</option>
												<option>Position-2</option>
												<option>Position-3</option>
											</select>
										</div>
										<div class="form-group col-md-12">
											<textarea class="form-control bg-light" rows="10" id="message" name="message" placeholder="Message"></textarea>
										</div>
										<div id="file" class="form-group col-lg-6">
											<input class="attatchment" id="browse" name="fileupload" type="file">
										</div>
										<div class="form-group col-lg-6">
											<input class="btn btn-primary float-right" id="send" value="send application" type="submit">
										</div>
										<div class="col-md-12">
											<div class="error-handel">
												<div id="success">Your email sent Successfully, Thank you.</div>
												<div id="error"> Error occurred while sending email. Please try again later.</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Application Section End -->