
		
		<!-- Breadcrumb Section Start -->

		<div class="pt-3">
			<div class="container">
				<div class="row">
					<div class="col">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb bg-transparent px-0">
							  <li class="breadcrumb-item"><a href="/" class="text-secondary">Home</a></li>
							  <li class="breadcrumb-item text-primary active" aria-current="page">Careers</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumb Section End -->	

		<!-- Career Section Start -->
		<div class="full-row pt-5">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="row">
							<div class="col-lg-12 mb-4">
								<h4 class="down-line mb-3">Career</h4>
								<p>Posuere ante tincidunt sed porta senectus fusce interdum. Dictum class semper Ornare venenatis habitant sodales. Venenatis volutpat torquent. Curae; suspendisse ligula suscipit magna. Interdum dapibus in nulla mollis velit taciti mollis gravida torquent lacus lobortis volutpat elementum leo pharetra.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 mb-4">
								<h4 class="down-line mb-3">Important Facts</h4>
								<p>Maecenas hymenaeos suspendisse lobortis tempor ante. Lorem velit. Volutpat. Lacinia aliquet primis tellus platea id neque sem, ornare tortor arcu maecenas dapibus hendrerit urna mi. Hac sodales condimentum. Tempus lobortis.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-12">
								<div class="d-flex mb-4">
									<span class="float-left d-table">
									<i class="flaticon-shield-1 flat-medium text-primary"></i></span>
									<div class="pl-3">
										<h5 class="mb-3"><a class="text-secondary" href="#">Integrity and Justic</a></h5>
										<p>Tortor hac sed lobortis elit potenti lacus facilisis. Ac dictumst tristique. Curae; consectetuer facilisis curabitur mauris morbi etiam potenti Amet.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="d-flex mb-4">
									<span class="float-left d-table">
									<i class="flaticon-contract-1 flat-medium text-primary"></i></span>
									<div class="pl-3">
										<h5 class="mb-3"><a class="text-secondary" href="#">Indemnity and Guarantor</a></h5>
										<p>Tortor hac sed lobortis elit potenti lacus facilisis. Ac dictumst tristique. Curae; consectetuer facilisis curabitur mauris morbi etiam potenti Amet.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="d-flex mb-4">
									<span class="float-left d-table">
									<i class="flaticon-joke flat-medium text-primary"></i></span>
									<div class="pl-3">
										<h5 class="mb-3"><a class="text-secondary" href="#">Friendly Environment</a></h5>
										<p>Tortor hac sed lobortis elit potenti lacus facilisis. Ac dictumst tristique. Curae; consectetuer facilisis curabitur mauris morbi etiam potenti Amet.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="d-flex mb-4">
									<span class="float-left d-table">
									<i class="flaticon-cup flat-medium text-primary"></i></span>
									<div class="pl-3">
										<h5 class="mb-3"><a class="text-secondary" href="#">Friendly Environment</a></h5>
										<p>Tortor hac sed lobortis elit potenti lacus facilisis. Ac dictumst tristique. Curae; consectetuer facilisis curabitur mauris morbi etiam potenti Amet.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 mb-4">
								<h4 class="down-line mb-3">Job Opportunity</h4>
								<p>Integer lacinia mus sociosqu. Velit enim interdum dictumst. Sed leo inceptos egestas diam diam luctus. Class lobortis nam. Quam natoque duis hymenaeos torquent curabitur sit hymenaeos laoreet felis, curabitur vel amet aenean aliquet suscipit aenean fermentum, tincidunt purus interdum id.</p>
							</div>
							<div class="col-lg-12">
								<div class="accorden-block border py-2 mb-1">
									<div class="accorden-title px-4 py-2 text-secondary">Security Officer ( 3 Person )</div>
									<div class="accorden-content px-4">
										<div class="row">
											<div class="col-md-6 col-sm-6">
												<span class="text-primary">Mission :</span>
												<p>Bibendum proin conubia vulputate diam mi hac mus adipiscing ut euismod diam condimentum volutpat feugiat diam blandit inceptos. Facilisis pharetra.</p>
												<span class="text-primary">Job Type :</span>
												<p>Full - Time Posiotion</p>
												<span class="text-primary">Salary Range :</span>
												<p>₦75k - ₦105K (From Starting)</p>
											</div>
											<div class="col-md-6 col-sm-6">
												<span class="text-primary">Qualification :</span>
												<ul class="mb-2">
													<li>Amet ridiculus sit ullamcorper nibh pede ut cras. </li>
													<li>Molestie rhoncus consequat erat ultrices nullam.</li>
													<li>Adipiscing rhoncus fermentum elementum turpis.</li>
													<li>Dictumst, arcu pellentesque.</li>
													<li>Potenti condimentum pede adipiscing malesuada.</li>
												</ul>
												<span class="text-primary">Location :</span>
												<p>Head Office, Victoria Island, Lagos Nigeria</p>
												<a class="btn btn-primary" href="/application">Apply now</a>
											</div>
										</div>
									</div>
								</div>
								<div class="accorden-block border py-2 mb-1">
									<div class="accorden-title px-4 py-2 text-secondary">HRM Depeartment ( 1 Person )</div>
									<div class="accorden-content px-4">
										<div class="row">
											<div class="col-md-6 col-sm-6">
												<span class="text-primary">Mission :</span>
												<p>Bibendum proin conubia vulputate diam mi hac mus adipiscing ut euismod diam condimentum volutpat feugiat diam blandit inceptos. Facilisis pharetra.</p>
												<span class="text-primary">Job Type :</span>
												<p>Full - Time Posiotion</p>
												<span class="text-primary">Salary Range :</span>
												<p>₦65K - ₦95K (From Starting)</p>
											</div>
											<div class="col-md-6 col-sm-6">
												<span class="text-primary">Qualification :</span>
												<ul class="mb-2">
													<li>Amet ridiculus sit ullamcorper nibh pede ut cras. </li>
													<li>Molestie rhoncus consequat erat ultrices nullam.</li>
													<li>Adipiscing rhoncus fermentum elementum turpis.</li>
													<li>Dictumst, arcu pellentesque.</li>
													<li>Potenti condimentum pede adipiscing malesuada.</li>
												</ul>
												<span class="text-primary">Location :</span>
												<p>Head Office, Victoria Island, Lagos Nigeria</p>
												<a class="btn btn-primary" href="/application">Apply now</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Career Section End -->
