<style>
		
  /* Custom classes */
  .md\:hidden {
      display: none;
  }

  /* Media query for small screens */
  @media (max-width: 576px) {
      .md\:hidden {
          display: block; /* Display on small screens */
      }

.sm\:hidden {
  display: none;
}
  }


</style>

<!-- Slider Section Start -->
<div class="full-row p-0 overflow-hidden xs-h-35vh">
  <div
    id="slider"
    style="width: 1200px; height: 1000px; margin: 0 auto; margin-bottom: 0px"
  >
    <!-- Slider -->
    <div
      class="ls-slide"
      data-ls="bgsize:cover; bgposition:50% 50%; duration:8000;"
    >
      <img
        src="assets/images/slider/hero5.png"
        width="400"
        height="450"
        alt=""
        style="top: 58%; left: 80%"
        class="ls-l"
        data-ls="offsetxin:500; offsetyin:-20; easingin:easeOutBack; rotatein:0; transformoriginin:30px 360px 0; offsetxout:-80; delayin:300; durationout:400; parallax:false; parallaxlevel:1; static:forever; position:fixed;"
      />

      <p
        style="
          text-align: left;
          white-space: pre-wrap;
          font-size: 17px;
          font-weight: 500;
          line-height: 30px;
          width: 570px;
          color: #8a8c8e;
          top: 660px;
          left: 32px;
          white-space: normal;
        "
        class="ls-l ordenery-font ls-hide-phone"
        data-ls="offsetyin:40; delayin:2000; easingin:easeOutQuint; filterin:blur(10px); offsetyout:-200; durationin:1500; durationout:400; parallax:false; parallaxlevel:3"
      >
      Safeguarding Your Peace of Mind with Expert Protection Solutions
      </p>

      <p
        style="
          font-weight: 700;
          text-align: left;
          width: 700px;
          font-size: 65px;
          line-height: 80px;
          top: 400px;
          left: 30px;
          white-space: normal;
        "
        class="ls-l text-white higlight-font"
        data-ls="offsetyin:40; delayin:1500; easingin:easeOutQuint; filterin:blur(10px); offsetyout:-200; durationin:1500; durationout:400; parallax:false; parallaxlevel:3;"
      >
        Providing professional <br />security in an insecure worlds
      </p>

      <div
        style="font-size: 15px; top: 260px; left: 32px"
        class="ls-l ls-hide-phone"
        data-ls="offsetyin:40; delayin:1000; easingin:easeOutQuint; offsetyout:-300; durationin:1500; durationout:400; parallax:false; parallaxlevel:1;"
      >
        <!-- <div class="simple-video-play d-table ml-auto mt-3 hidden">
          <a
            data-fancybox
            href="#"
            class="rounded-circle bg-transparent border-3px border-solid border-primary"
            ><i
              class="flaticon-play-button position-relative xy-center flat-mini rounded-circle text-primary"
            ></i></a
          ><span class="pl-3 text-primary higlight-font font-large"
            >Watchs Our Intro</span
          >
        </div> -->
      </div>
    </div>

    <div
      class="ls-slide"
      data-ls="bgsize:cover; bgposition:50% 50%; duration:8000;"
    >
      <p
        style="
          text-align: left;
          white-space: pre-wrap;
          font-size: 17px;
          font-weight: 500;
          line-height: 30px;
          width: 570px;
          color: #d6d9db;
          top: 660px;
          left: 32px;
          white-space: normal;
        "
        class="ls-l ordenery-font ls-hide-phone"
        data-ls="offsetyin:40; delayin:2000; easingin:easeOutQuint; filterin:blur(10px); offsetyout:-200; durationin:1500; durationout:400; parallax:false; parallaxlevel:3"
      >
      Safeguarding Your Peace of Mind with Expert Protection Solutions
      </p>

      <p
        style="
          font-weight: 700;
          text-align: left;
          width: 700px;
          font-size: 65px;
          line-height: 80px;
          top: 400px;
          left: 30px;
          white-space: normal;
        "
        class="ls-l text-white higlight-font"
        data-ls="offsetyin:40; delayin:1500; easingin:easeOutQuint; filterin:blur(10px); offsetyout:-200; durationin:1500; durationout:400; parallax:false; parallaxlevel:3;"
      >
        Providing professional <br />security in an insecure world
      </p>

      <div
        style="font-size: 15px; top: 280px; left: 32px"
        class="ls-l ls-hide-phone"
        data-ls="offsetyin:40; delayin:1000; easingin:easeOutQuint; offsetyout:-300; durationin:1500; durationout:400; parallax:false; parallaxlevel:1;"
      >
      
      </div>
    </div>
  </div>
  <div class="social-on-slider-left y-center list-color-white xs-mx-none">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin-in"></i></a>
    <a href="#"><i class="fab fa-pinterest-p"></i></a>
  </div>
</div>
<!-- Slider Section End -->
<div class="list-color-white w-full md:hidden" style="display:flex;justify-content: center; padding: 0 5%; font-size: 15pt;">
  <a href="#"><i class="fab fa-whatsapp font-600"></i></a>
  <a href="#"><i class="fab fa-facebook-f ml-4"></i></a>
  <a href="#"><i class="fab fa-twitter ml-4"></i></a>
  <a href="#"><i class="fab fa-instagram ml-4"></i></a>
  <a href="#"><i class="fab fa-linkedin-in  ml-4"></i></a>
</div>

<div class="text-center">
  <a href="/appointment" class="btn btn-primary mt-4 ">MAKE AN APPOINTMENT</a>
</div>

<!-- About Our Company Section Start -->
<div id="about" class="full-row">
  <div class="container" style="margin-top: 20%;">
    <div class="row">
      <div class="col-lg-6 mb-sm-30">
        <span class="pb-3 tagline d-block">About Our Company</span>
        

        <h3 class="text-secondary mb-4 pb-3 down-line">
          Empowering Security, Ensuring Tranquility
        </h3>
        <div class="sub-title">
          <p>
            At Oweh Bureau, our goal is clear: to redefine security solutions for today's complex challenges. With a team of experts, we provide a range of top-tier services tailored to your unique needs.
          </p>
        </div>

        <h3 class="text-secondary mb-4 pb-3 down-line">
          Your Trust, Our Priority
        </h3>
        <div class="sub-title">
          <p>
            Your security and peace of mind drive us. We work closely with you, sharing insights and resources, to create a safer environment together.
          </p>
        </div>

        <!-- <a href="/about" class="btn btn-primary-transparent mt-4 transation"
          >More About</a
        > -->
      </div>
      <div class="col-lg-6">
        <div class="row row-cols-lg-3">
          <div
            class="col"
            style="
              background: url('assets/images/shape/1.png') no-repeat;
              background-position: left;
              background-size: 90%;
            "
          >
            <div class="py-4">
              <span class="d-block mb-2 text-dark pt-3"
                >Satisfaction Rate</span
              >
              <span class="h1 ordenery-font pb-3 mb-0">90%</span>
            </div>
          </div>
          <div
            class="col"
            style="
              background: url('assets/images/shape/2.png') no-repeat;
              background-position: left;
              background-size: 90%;
            "
          >
            <div class="py-4">
              <span class="d-block mb-2 text-dark pt-3"
                >Successful Events Secured</span
              >
              <span class="h1 ordenery-font pb-3 mb-0">50+</span>
            </div>
          </div>
          <div
            class="col"
            style="
              background: url('assets/images/shape/3.png') no-repeat;
              background-position: left;
              background-size: 90%;
            "
          >
            <div class="py-4">
              <span class="d-block mb-2 text-dark pt-3"
                >Years of Experience</span
              >
              <span class="h1 ordenery-font pb-3 mb-0">20+</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About Our Company Section End -->

<!-- Our Company History Section Start -->
<div class="full-row py-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 bg-white px-5 pb-4 pt-5">
        <span class="mb-1 tagline d-block text-primary"
          >30 Years Of Experience</span
        >
        <h3 class="text-secondary mb-4 pb-3 down-line">Our company history</h3>
        <p>
            With a history that may be brief but is rich in determination, Oweh Bureau steps confidently into the realm of security solutions. Our journey is marked by innovation and a fresh perspective, as we embrace the challenge of safeguarding what matters most. While our years of experience may be short, our adaptable approach, driven by a team of skilled professionals, enables us to deliver effective and forward-thinking security strategies. Your trust fuels our commitment to transparency and client-centered solutions, as we strive to redefine security standards and create a safer future. Choose Oweh Bureau—a partner dedicated to rewriting the narrative of security.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Our Company History Section End -->

<!-- Service Section Start -->
<div class="full-row">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-5">
        <span class="pb-3 tagline d-block">What Service We Provide</span>
        <h4 class="text-secondary mb-4 pb-3 down-line">
          We have a Solutions of Security Service that We Provide for People
        </h4>
        <div class="sub-title">
          <p>
            At Oweh Bureau, we specialize in providing a comprehensive array of security solutions meticulously crafted to cater to the unique needs of individuals and businesses. From personal safety to event security and corporate protection, our services are underpinned by a commitment to innovation and excellence..
          </p>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row row-cols-sm-2 row-cols-1">
          <div class="col">
            <div class="simple-thumb h-100 transation mb-5">
              <i class="flaticon-shield flat-medium text-secondary"></i>
              <h5 class="my-4">
                <a href="/quote" class="text-secondary hover-text-primary"
                  >Personal Protection Services</a
                >
              </h5>
              <p>
                Our experienced security professionals provide personalized protection tailored to your needs, ensuring your safety wherever you go
              </p>
              <a href="/quote" class="btn btn-primary mt-4 ">Get Quote</a>
            </div>
          </div>
          <div class="col">
            <div class="simple-thumb h-100 transation mb-5">
              <i class="flaticon-folder flat-medium text-secondary"></i>
              <h5 class="my-4">
                <a href="/quote" class="text-secondary hover-text-primary">Corporate Security Solutions</a>
              </h5>
              <p>
                We safeguard your business with comprehensive security strategies, including access control, surveillance, and risk assessment, enhancing your workplace safety.
              </p>
              <a href="/quote" class="btn btn-primary mt-4 ">Get Quote</a>
            </div>
          </div>
          <div class="col">
            <div class="simple-thumb h-100 transation mb-5">
              <i class="flaticon-protect flat-medium text-secondary"></i>
              <h5 class="my-4">
                <a href="/quote" class="text-secondary hover-text-primary"
                  >Event Security Management</a
                >
              </h5>
              <p>
                Our expert team ensures seamless event experiences by managing security logistics, crowd control, and emergency response, allowing you to focus on your event's success.
              </p>
              <a href="/quote" class="btn btn-primary mt-4 ">Get Quote</a>
            </div>
          </div>
          <div class="col">
            <div class="simple-thumb h-100 transation mb-5">
              <i class="flaticon-security-1 flat-medium text-secondary"></i>
              <h5 class="my-4">
                <a href="/quote" class="text-secondary hover-text-primary"
                  >Residential Security Consultation</a
                >
              </h5>
              <p>
                We assess and fortify your home's security, offering recommendations and solutions to protect your property and loved ones from potential threats.
              </p>
              <a href="/quote" class="btn btn-primary mt-4 ">Get Quote</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service Section End -->

<!-- Volunteer Team Banner Section Start -->
<div
  class="full-row overlay-secondary paraxify"
  style="
    padding: 110px 0;
    background: url('assets/images/background/2.png') fixed no-repeat
      center/cover;
  "
>
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-9 mx-auto">
        <div class="text-white text-center">
          <h1 class="text-white mb-5">Interested in Joining Our Awesome Team</h1>
          <div class="w-75 mx-auto">
            <p>
              At Oweh Bureau, we're looking for individuals who are ready to make a real impact in the security field. If you're passionate about innovative solutions and want to be part of a dynamic team, we'd love to hear from you. Check out our available positions and let's start a conversation about your future with us.
            </p>
          </div>
          <a
            href="#"
            class="btn btn-primary-transparent mt-5 transation-this text-white hover-text-dark"
            >Make Your Career - See Open Positions</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Volunteer Team Banner Section End -->



<!-- Why Choose Us Section Start -->
<div
  class="full-row py-0 sm-bg-img-none"
  style="
    background: url('assets/images/background/3.png') no-repeat left 80px /
      contain;
    background-size: 50%;
  "
>
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 d-none d-lg-block"
        style="
          background: url('assets/images/slider/hero2.png') no-repeat left;
          background-size: contain;
        "
      ></div>
      <div class="col-lg-6 py-8">
        <span class="pb-3 tagline d-block">Why Choose Us</span>
        <h4 class="text-secondary mb-4 pb-3 down-line">
          We are Efficient & Cost Effective Company that Secure your
          Surroundings!
        </h4>
        <div class="d-flex mb-4">
          <span
            class="box-70px d-table position-relative"
            style="
              background: url('assets/images/shape/2.png') no-repeat
                center/contain;
            "
            ><i
              class="flaticon-lock flat-medium xy-center position-absolute text-secondary"
            ></i
          ></span>
          <div class="pl-4">
            <h5 class="my-3">10 Years of Experience</h5>
            <p>
              With a solid ten years of experience, we bring a wealth of knowledge to the table. Our journey has been marked by dedication, growth, and a commitment to staying ahead of security challenges.
            </p>
          </div>
        </div>
        <div class="d-flex mb-4">
          <span
            class="box-70px d-table position-relative"
            style="
              background: url('assets/images/shape/2.png') no-repeat
                center/contain;
            "
            ><i
              class="flaticon-partner flat-medium xy-center position-absolute text-secondary"
            ></i
          ></span>
          <div class="pl-4">
            <h5 class="my-3">100% Satisfaction</h5>
            <p>
              We pride ourselves on achieving 100% customer satisfaction. Your trust in our services drives us to continuously improve and provide security solutions that exceed your expectations.
            </p>
          </div>
        </div>
        <div class="d-flex">
          <span
            class="box-70px d-table position-relative"
            style="
              background: url('assets/images/shape/2.png') no-repeat
                center/contain;
            "
            ><i
              class="flaticon-performance flat-medium xy-center position-absolute text-secondary"
            ></i
          ></span>
          <div class="pl-4">
            <h5 class="my-3">24/7 Security Service</h5>
            <p>
              Security never sleeps, and neither do we. Our 24/7 security service ensures that you're protected at all times. Whether it's day or night, our team is ready to respond to any situation that may arise.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Why Choose Us Section End -->

<!-- Team Leaders Section Start -->
<div class="full-row bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="text-white mb-sm-30">
          <div class="position-relative">
            <span class="box-tab-line h6 text-primary bg-secondary px-2 ml-4"
              >Our Team</span
            >
            <h3 class="box-title text-white mb-4">
              Best Of Efficient Team Leaders
            </h3>
          </div>
          <p>
            Our team at Oweh Bureau is comprised of top-tier leaders who bring a wealth of expertise and dedication to the table. With a keen understanding of the industry and a commitment to innovation, our team leaders guide us towards unparalleled security solutions. Collaborative and forward-thinking, they ensure that Oweh Bureau remains at the forefront of the field, providing you with the highest level of protection and peace of mind.
          </p>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row row-cols-lg-3 row-cols-sm-2 row-cols-1">
          <div class="col">
            <div class="thumb-team-classic text-center mb-4 transation">
              <img src="assets/images/officer.png" alt="image not found" />
              <h6 class="mt-3">
                <a href="#" class="text-white">Itanyi Ugbede Henry</a>
              </h6>
              <span class="text-primary text-uppercase font-mini font-600"
                >Founder</span
              >
              <div><a href="/profile-details" class="btn btn-primary">View Profile</a></div>
            </div>
          </div>
          <div class="col">
            <div class="thumb-team-classic text-center mb-4 transation">
              <img src="assets/images/team/officer1.jpg" alt="image not found" />
              <h6 class="mt-3">
                <a href="#" class="text-white">Zachari Levi</a>
              </h6>
              <span class="text-primary text-uppercase font-mini font-600"
                >Operations Officer</span
              >
              <div><a href="/profile-details class="btn btn-primary">View Profile</a></div>
            </div>
          </div>
          <div class="col">
            <div class="thumb-team-classic text-center mb-4 transation">
              <img src="assets/images/team/officer2.jpg" alt="image not found" />
              <h6 class="mt-3">
                <a href="#" class="text-white">Adams Joshua</a>
              </h6>
              <span class="text-primary text-uppercase font-mini font-600"
                >Manager</span
              >
              <div><a href="/profile-details" class="btn btn-primary">View Profile</a></div>
            </div>
          </div>
          <div class="col">
            <div class="thumb-team-classic text-center mb-4 transation">
              <img src="assets/images/team/officer3.jpg" alt="image not found" />
              <h6 class="mt-3">
                <a href="#" class="text-white">Gladys Ebuka</a>
              </h6>
              <span class="text-primary text-uppercase font-mini font-600"
                >Human Resource</span
              >
              <div><a href="/profile-details" class="btn btn-primary">View Profile</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team Leaders Section End -->

<!-- Why Choose Us Section Start -->
<div class="full-row">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 sm-mb-30">
        <span class="pb-2 tagline d-block">Frequenly Ask Questions</span>
        <h4 class="text-secondary mb-4 pb-3 down-line">
          At Oweh Bureau, we are dedicated to providing clarity and solutions to your inquiries. Here are answers to common questions to untangle any uncertainties:
        </h4>
        <div class="accorden-block">
          <div class="accorden-title text-dark py-3 active border-bottom">
            What Services Do You Offer? 
          </div>
          <div class="accorden-content" style="display: block">
            <p>
              Our range of services includes personal protection, corporate security, event management, and residential security consultation. Each service is tailored to your unique needs.
            </p>
          </div>
        </div>
        <div class="accorden-block">
          <div class="accorden-title text-dark py-3 border-bottom">
            How Experienced Is Your Team?
          </div>
          <div class="accorden-content">
            <p>
              Our team boasts a decade of expertise in the security field. We combine this experience with innovation to deliver effective and up-to-date solutions.
            </p>
          </div>
        </div>
        <div class="accorden-block">
          <div class="accorden-title text-dark py-3 border-bottom">
            Do You Provide 24/7 Support? 
          </div>
          <div class="accorden-content">
            <p>
              Absolutely. Our commitment to your safety extends around the clock. Our 24/7 security service ensures rapid responses to any situation.
            </p>
          </div>
        </div>
        <div class="accorden-block">
          <div class="accorden-title text-dark py-3 border-bottom">
            How Can I Join Your Team?
          </div>
          <div class="accorden-content">
            <p>
              We value diverse talents. Explore our available positions and reach out to initiate a discussion about becoming part of the Oweh Bureau family.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Why Choose Us Section End -->

<!-- Experience block Section Start -->
<div class="full-row pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="banner-experience position-relative d-inline-block w-100">
          <div class="content bg-primary position-absolute">
            <h3 class="text-dark">
              With decades of practical experience under our belt, we boast highly trained security personnel and cutting-edge technological equipment.
            </h3>
          </div>
          <img src="assets/images/thumb/2.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Experience block Section End -->

<!-- Testimonial Section Start -->
<div
  class="full-row overlay-secondary paraxify"
  style="
    background: url(assets/images/background/4.png) fixed no-repeat center
      center/cover;
  "
>
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mx-auto">
        <span class="tagline text-primary mb-2 d-block">Testimonial</span>
        <h2 class="mb-5 text-white">
          <span class="font-weight-bold">What People</span> Says About Us
        </h2>
        <div
          class="owl-carousel single-carousel text-white testimonial-slider dot-disable position-static"
        >
          <div class="testimonial-item">
            <span
              class="flaticon-right-quote quote-icon flat-medium text-primary"
            ></span>
            <p>
              "Oweh Bureau's security solutions have brought me unmatched peace of mind. Their team's professionalism and dedication are evident in every aspect of their service. I can confidently say that my safety is in the best hands with Oweh Bureau."
            </p>
            <span class="name text-white h6 font-weight-medium mt-4 d-table"
              >Sarah K - GlobalTech</span
            >
          </div>
          <div class="testimonial-item">
            <span
              class="flaticon-right-quote quote-icon flat-medium text-primary"
            ></span>
            <p>
              "Having experienced security services from various providers, Oweh Bureau truly stands out. Their blend of expertise and innovation creates a sense of security like no other. It's more than just protection – it's a partnership for a safer future."
            </p>
            <span class="name text-white h6 font-weight-medium mt-4 d-table"
              > Michael T. - UrbanGuard</span
            >
          </div>
          <div class="testimonial-item">
            <span
              class="flaticon-right-quote quote-icon flat-medium text-primary"
            ></span>
            <p>
              Oweh Bureau's 24/7 support is a game-changer. I've never encountered such a responsive security team. Their commitment to ensuring safety, day or night, is commendable. It's rare to find a security agency that genuinely cares about their clients' well-being.
            </p>
            <span class="name text-white h6 font-weight-medium mt-4 d-table"
              > Emily L. - Unicoder</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial Section End -->

