<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Owehbureau - Security and Profiling Agency ">
    <meta name="author" content="unicoder">
    <title>Owehbureau - Security and Profiling Agency </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.png">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap&subset=latin-ext,vietnamese" rel="stylesheet">

    <!--  CSS Style -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/webfonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/layerslider.css">
    <link rel="stylesheet" href="assets/css/template.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/category/category-two.css">

</head>

<body>
    <div id="page_wrapper" class="bg-light">
        <!-- Header Section Start -->
        <header class="fixed-bg-secondary nav-on-banner">
            <div class="middle-header py-3 sm-mx-none">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-3">
                            <a class="navbar-brand" href="#"><img class="nav-logo" src="assets/images/logo/2.png" alt="Image not found !"></a>
                        </div>
                        <div class="col-lg-3 col-md-3 pl-0">
                            <div class="d-flex py-3 justify-content-end">
                                <i class="flaticon-phone-call flat-small text-white mr-3 py-1"></i>
                                <div>
                                    <span class="text-white">902-000-99999</span><br>
                                    <span class="text-light">Call 24/7 available</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 pl-0">
                            <div class="d-flex py-3 justify-content-end">
                                <i class="flaticon-email-1 flat-small text-white mr-3 py-1"></i>
                                <div>
                                    <span class="text-white">Contact From Online</span><br>
                                    <span class="text-light">Get In touch in website</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navigation-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="navbar navbar-expand-lg nav-white nav-primary-hover nav-down-line-active py-3 line-navbar">
                                <a class="navbar-brand d-lg-none" href="#"><img class="nav-logo" src="assets/images/logo/1.png" alt="Image not found !"></a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon flaticon-menu flat-small text-primary"></span>
								</button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav justify-content-between w-100">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#">Home
												<span class="d-block">Home Page</span>
											</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="index.html">Landing Page</a></li>
                                                <li><a class="dropdown-item" href="index-security.html">Security</a></li>
                                                <li><a class="dropdown-item" href="index-agency.html">Agency Security</a></li>
                                                <li><a class="dropdown-item" href="index-cctv-system.html">CCTV Security</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="about.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About
											<span class="d-block">Company Info</span>
										</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="about.html">About</a></li>
                                                <li><a class="dropdown-item" href="about-2.html">About2</a></li>
                                                <li><a class="dropdown-item" href="our-history.html">Our History</a></li>
                                                <li><a class="dropdown-item" href="our-mission.html">Our Mission</a></li>
                                                <li><a class="dropdown-item" href="our-vision.html">Our Vision</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="service.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Service
											<span class="d-block">What We Do</span>
										</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="service.html">Service</a></li>
                                                <li><a class="dropdown-item" href="service-details.html">Service Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages
											<span class="d-block">Inner Pages</span>
										</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="pricing.html">Pricing</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="pricing.html">Pricing</a></li>
                                                        <li><a class="dropdown-item" href="pricing-extend.html">Pricing Extend</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="career.html">Career</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="career.html">Career</a></li>
                                                        <li><a class="dropdown-item" href="application.html">Application</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="team.html">Team</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="team.html">Team Member</a></li>
                                                        <li><a class="dropdown-item" href="profile-details.html">Member Profile</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="certification.html">Certificate</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="certification.html">Certification</a></li>
                                                        <li><a class="dropdown-item" href="certification-detail.html">Certification Details</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="general-support.html">Help and Support</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="how-it-work.html">How It Work</a></li>
                                                        <li><a class="dropdown-item" href="general-support.html">General Support</a></li>
                                                        <li><a class="dropdown-item" href="help-center.html">Help Center</a></li>
                                                        <li><a class="dropdown-item" href="support-article-details.html">Support Article</a></li>
                                                        <li><a class="dropdown-item" href="terms-and-condition.html">Terms & Condition</a></li>
                                                    </ul>
                                                </li>
                                                <li><a class="dropdown-item" href="testimonial.html">Testimonial</a></li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="gallery.html">Gallery</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="gallery.html">Gallery default</a></li>
                                                        <li><a class="dropdown-item" href="gallery-fullwidth.html">Gallery fullwidth</a></li>
                                                        <li><a class="dropdown-item" href="gallery-masonry.html">Gallery masonry</a></li>
                                                        <li><a class="dropdown-item" href="gallery-detail.html">Gallery Details</a></li>
                                                    </ul>
                                                </li>
                                                <li><a class="dropdown-item" href="quote.html">Quote</a></li>
                                                <li><a class="dropdown-item" href="faq.html">Faq</a></li>
                                                <li><a class="dropdown-item" href="404.html">404 Page</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="shop.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop
											<span class="d-block">Online Product</span>
										</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="shop.html">Shop</a></li>
                                                <li><a class="dropdown-item" href="shop-list.html">Shop List</a></li>
                                                <li><a class="dropdown-item" href="shop-single.html">Shop Single</a></li>
                                                <li><a class="dropdown-item" href="sign-in.html">Sign In</a></li>
                                                <li><a class="dropdown-item" href="sign-up.html">Sign Up</a></li>
                                                <li><a class="dropdown-item" href="cart.html">Cart</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="blog.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog
											<span class="d-block">News Pages</span>
										</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="blog.html">Blog</a></li>
                                                <li><a class="dropdown-item" href="blog-fullwidth-box.html">Blog Full Box Width</a></li>
                                                <li><a class="dropdown-item" href="blog-fullwidth.html">Blog Full Width</a></li>
                                                <li><a class="dropdown-item" href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                                <li><a class="dropdown-item" href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                                <li><a class="dropdown-item" href="blog-details.html">Blog Details Right</a></li>
                                                <li><a class="dropdown-item" href="blog-details-left-sidebar.html">Blog Details Left</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="contact.html">Contact
												<span class="d-block">Get In Touch</span>
											</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header Section End -->

        <!-- Slider HTML markup -->
        <div class="full-row p-0 overflow-hidden">
            <div id="slider" style="width:1200px; height: 980px;margin:0 auto;margin-bottom: 0px;">
                <!-- Slide 1-->
                <div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:10000; transition2d:3; timeshift:1000; deeplink:home; kenburnszoom:in; kenburnsrotate:0; kenburnsscale:1.1; parallaxevent:scroll; parallaxdurationmove:500;">
                    <img width="1920" height="1280" src="assets/images/background/2.png" class="ls-l" data-ls="static:forever; position:fixed;" alt="" />

                    <div style="width:100%; height:100%; background:rgba(35, 31, 42, 0.8); top:50%; left:50%;" class="ls-l" data-ls="showinfo:1; durationin:2000; easingin:easeOutExpo; scalexin:1.5; scaleyin:1.5; position:fixed;"></div>

                    <p style="font-weight:700; text-align:center; width:700px; font-size:60px; line-height:80px; top:400px; left:50%; white-space:normal;" class="ls-l text-white ls-hide-phone higlight-font" data-ls="offsetyin:40; delayin:1500; easingin:easeOutQuint; filterin:blur(10px); offsetyout:-200; durationin:1500; durationout:400; parallax:false; parallaxlevel:3;"><span class="text-primary">Best Security Nothing Less</span><br>Than The Best</p>

                    <p style="font-weight:400; text-align:center; width:500px; font-size:16px; line-height:50px; top:350px; left:50%; letter-spacing: 3px; white-space:normal;" class="ls-l text-white ls-hide-phone" data-ls="showinfo:1; offsetxin:-100lw; durationin:1500; delayin:500; transformoriginin:0% 50% 0; clipin:0 0 0 100%; filterin:blur(10px); offsetyout:-200; durationout:200;">What’s our new generation plan to</p>
                    <div style="font-size:15px; top:570px; left:50%;" class="ls-l ls-hide-phone" data-ls="offsetyin:40; delayin:2600; easingin:easeOutQuint; offsetyout:-300; durationin:1500; durationout:400; parallax:false; parallaxlevel:1;">
                        <div class="simple-video-play d-table ml-auto mt-3">
                            <a data-fancybox href="../../https://www.youtube.com/watch?v=0HnHUBeIBqU" class="rounded-circle"><i class="flaticon-play-button position-relative xy-center flat-mini rounded-circle text-white bg-primary"></i></a><span class="pl-3 text-white">Watch Our Intro</span>
                        </div>
                    </div>
                </div>

                <!-- Slide 2-->
                <div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:8000; transition2d:3; timeshift:-500; deeplink:home; kenburnszoom:in; kenburnsrotate:0; kenburnsscale:1.1; parallaxevent:scroll; parallaxdurationmove:500;">

                    <div style="width:100%; height:100%; background:rgba(35, 31, 42, 0.8); top:50%; left:50%;" class="ls-l" data-ls="showinfo:1; durationin:2000; easingin:easeOutExpo; scalexin:1.5; scaleyin:1.5; position:fixed;"></div>

                    <p style="font-weight:700; text-align:center; width:700px; font-size:60px; line-height:70px; top:410px; left:50%; white-space:normal;" class="ls-l text-white ls-hide-phone higlight-font" data-ls="offsetyin:40; delayin:1500; easingin:easeOutQuint; filterin:blur(10px); offsetyout:-200; durationin:1500; durationout:400; parallax:false; parallaxlevel:3;">We Explore Our Business Branches</p>

                    <p style="font-weight:400; text-align:center; width:500px; font-size:16px; line-height:50px; top:350px; left:50%; letter-spacing: 3px; white-space:normal;" class="ls-l text-white ls-hide-phone" data-ls="showinfo:1; offsetxin:-100lw; durationin:1500; delayin:500; transformoriginin:0% 50% 0; clipin:0 0 0 100%; filterin:blur(10px); offsetyout:-200; durationout:200;">What’s our new business plan to</p>

                    <a style="" class="ls-l ls-hide-phone" href="https://themeforest.net/item/bluebird-multipurpose-html-template/24782709" target="_self" data-ls="offsetyin:40; delayin:2600; easingin:easeOutQuint; offsetyout:-300; durationin:1500; durationout:400; hover:true; hoverdurationin:300; hoveropacity:1; hoverbgcolor:#ffffff; hovercolor:#202430; parallax:false; parallaxlevel:1;">
                        <p style="font-weight:500; text-align:center; cursor:pointer; padding-right:35px; padding-left:35px; font-size:15px; line-height:40px; top:600px; left:50%; color:#202430; border-radius:2px; border: 2px solid; border-color: #fff; padding-top:5px; padding-bottom:5px; background:#fff; white-space:nowrap;"
                            class="higlight-font">Join Now</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- Slider Section End -->

        <!--Services Section Start -->
        <div class="full-row p-0" style="margin-top: -120px; position: relative; z-index: 99">
            <div class="container">
                <div class="row m-0 row-cols-xl-5 row-cols-md-3 row-cols-sm-2 row-cols-1 bg-light rounded-lg">
                    <div class="col p-0">
                        <div class="bg-gray text-left px-4 py-5 h-100 transation rounded-lg">
                            <h5 class="my-3"><a href="#">Get A Quote</a></h5>
                            <p>Aliquam litora ad sociosqu etiam tempus egestas nulla diam tempus mollis.</p>
                        </div>
                    </div>
                    <div class="col p-0">
                        <div class="thumb-zoomer bg-gray text-center px-4 py-5 y-center hover-bg-primary hover-text-white transation rounded-lg">
                            <i class="flaticon-cctv text-primary flat-medium"></i>
                            <h5 class="my-3"><a href="#">Camera</a></h5>
                            <p>Security Camera Setup</p>
                            <a href="#" class="rounded-circle bg-white x-center"><i class="flaticon-next"></i></a>
                        </div>
                    </div>
                    <div class="col p-0">
                        <div class="thumb-zoomer bg-gray text-center px-4 py-5 y-center hover-bg-primary hover-text-white transation rounded-lg">
                            <i class="flaticon-security text-primary flat-medium"></i>
                            <h5 class="my-3"><a href="#">Security</a></h5>
                            <p>Get Area Coverage</p>
                            <a href="#" class="rounded-circle bg-white x-center"><i class="flaticon-next"></i></a>
                        </div>
                    </div>
                    <div class="col p-0">
                        <div class="thumb-zoomer bg-gray text-center px-4 py-5 y-center hover-bg-primary hover-text-white transation rounded-lg">
                            <i class="flaticon-network-1 text-primary flat-medium"></i>
                            <h5 class="my-3"><a href="#">Datalock</a></h5>
                            <p>Request Data Security</p>
                            <a href="#" class="rounded-circle bg-white x-center"><i class="flaticon-next"></i></a>
                        </div>
                    </div>
                    <div class="col p-0">
                        <div class="thumb-zoomer bg-gray text-center px-4 py-5 y-center hover-bg-primary hover-text-white transation rounded-lg">
                            <i class="flaticon-software text-primary flat-medium"></i>
                            <h5 class="my-3"><a href="#">Software</a></h5>
                            <p>Get Security Software</p>
                            <a href="#" class="rounded-circle bg-white x-center"><i class="flaticon-next"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Services Section End -->

        <!--Work Process Section Start -->
        <div class="full-row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto mb-5 text-center">
                        <span class="text-primary pb-2 d-table mx-auto tagline">Work Process</span>
                        <h2 class="main-title position-relative d-table mx-auto mb-4 pb-4">Following Step Before Start</h2>
                    </div>
                </div>
                <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1">
                    <div class="col">
                        <div class="simple-thumb h-100 transation mb-30">
                            <i class="flaticon-id-card flat-medium text-primary"></i>
                            <h5 class="my-4"><a href="#" class="text-secondary hover-text-primary">Confirm Registration</a></h5>
                            <p>Mollis molestie etiam nisi auctor senectus eget dapibus ipsum duis parturient mattis.</p>
                            <span class="position-absolute sm-mx-none" style="right: 100px; top: 10px;"><i class="flaticon-next flat-mini text-primary"></i></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="simple-thumb h-100 transation mb-30">
                            <i class="flaticon-conversation flat-medium text-primary"></i>
                            <h5 class="my-4"><a href="#" class="text-secondary hover-text-primary">Discussion and Planing</a></h5>
                            <p>Mollis molestie etiam nisi auctor senectus eget dapibus ipsum duis parturient mattis.</p>
                            <span class="position-absolute sm-mx-none" style="right: 100px; top: 10px;"><i class="flaticon-next flat-mini text-primary"></i></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="simple-thumb h-100 transation mb-30">
                            <i class="flaticon-protect flat-medium text-primary"></i>
                            <h5 class="my-4"><a href="#" class="text-secondary hover-text-primary">Confirm Security</a></h5>
                            <p>Mollis molestie etiam nisi auctor senectus eget dapibus ipsum duis parturient mattis.</p>
                            <span class="position-absolute sm-mx-none" style="right: 100px; top: 10px;"><i class="flaticon-next flat-mini text-primary"></i></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="simple-thumb h-100 transation mb-30">
                            <i class="flaticon-business-and-finance flat-medium text-primary"></i>
                            <h5 class="my-4"><a href="#" class="text-secondary hover-text-primary">Payment Prosedure</a></h5>
                            <p>Mollis molestie etiam nisi auctor senectus eget dapibus ipsum duis parturient mattis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Work Process Section End -->

        <!--About Us Section Start -->
        <div class="full-row pt-0">
            <div class="container">
                <div class="row row-cols-md-2 row-cols-1">
                    <div class="col mb-30">
                        <div class="py-5 rounded h-100" style="background-color: #ffffff;">
                            <div class="row align-items-center">
                                <div class="col-md-4 d-none d-md-block">
                                    <img src="assets/images/shape/4.png" alt="">
                                </div>
                                <div class="col-md-8 pl-5 pl-md-0 pr-5">
                                    <h5>We Are Very Active and Fast Response</h5>
                                    <p>Pellentesque penatibus. Euismod malesuada ad praesent ante hymenaeos habitan pulvinar. Ad interdum etiam diam quisque. Erat massa fames. Habitasse, id neque aliquam.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-30">
                        <div class="py-5 rounded h-100" style="background-color: #f1ebfd;">
                            <div class="row align-items-center">
                                <div class="col-md-4 d-none d-md-block">
                                    <img src="assets/images/shape/5.png" alt="">
                                </div>
                                <div class="col-md-8 pl-5 pl-md-0 pr-5">
                                    <h5>We use Amazing Technology and Planing</h5>
                                    <p>Pellentesque penatibus. Euismod malesuada ad praesent ante hymenaeos habitan pulvinar. Ad interdum etiam diam quisque. Erat massa fames. Habitasse, id neque aliquam.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-30">
                        <div class="py-5 rounded h-100" style="background-color: #e4f3e6;">
                            <div class="row align-items-center">
                                <div class="col-md-4 d-none d-md-block">
                                    <img src="assets/images/shape/6.png" alt="">
                                </div>
                                <div class="col-md-8 pl-5 pl-md-0 pr-5">
                                    <h5>Professional Training and Ncredable Skill of Our Guard</h5>
                                    <p>Pellentesque penatibus. Euismod malesuada ad praesent ante hymenaeos habitan pulvinar. Ad interdum etiam diam quisque. Erat massa fames. Habitasse, id neque aliquam.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-30">
                        <div class="py-5 rounded h-100" style="background-color: #fdf1eb;">
                            <div class="row align-items-center">
                                <div class="col-md-4 d-none d-md-block">
                                    <img src="assets/images/shape/7.png" alt="">
                                </div>
                                <div class="col-md-8 pl-5 pl-md-0 pr-5">
                                    <h5>Delivering the Best Security Solutions to Our Clients</h5>
                                    <p>Pellentesque penatibus. Euismod malesuada ad praesent ante hymenaeos habitan pulvinar. Ad interdum etiam diam quisque. Erat massa fames. Habitasse, id neque aliquam.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--About Us Section End -->

        <!--Services Overview Section Start -->
        <div class="full-row bg-gray p-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-5 offset-lg-1 py-8">
                        <div class="service-overview">
                            <span class="pb-3 tagline d-block text-primary">Services Overview</span>
                            <h3 class="text-secondary mb-4">We offer fast, professional and exceptional services</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <a href="#" class="btn btn-primary mt-4 transation rounded-0 text-white">Read More</a>
                        </div>
                    </div>
                    <div class="col-xl-6 bg-secondary p-0">
                        <div class="row divider-col-3 m-0 h-100 row-cols-md-3 row-cols-1">
                            <div class="col p-0">
                                <div class="card card-flip h-100 bg-dark border-0">
                                    <div class="card-front bg-secondary">
                                        <div class="card-body text-center">
                                            <i class="flaticon-shield flat-medium text-primary"></i>
                                            <h6 class="pt-4"><a href="#" class="text-white">Home Security</a></h6>
                                        </div>
                                    </div>
                                    <div class="card-back bg-primary">
                                        <div class="card-body text-center py-5 px-4 text-white">
                                            <h6 class="pb-4"><a href="#" class="text-white">Home Security</a></h6>
                                            <p>Magna tristique tempus. Aliquet hendrerit. Cubilia fusce, ultricies. Massa dolor proin lacus convallis faucibus est faucibus sapien.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col p-0">
                                <div class="card card-flip h-100 bg-dark border-0">
                                    <div class="card-front bg-secondary">
                                        <div class="card-body text-center">
                                            <i class="flaticon-folder flat-medium text-primary"></i>
                                            <h6 class="pt-4"><a href="#" class="text-white">Data Protection</a></h6>
                                        </div>
                                    </div>
                                    <div class="card-back bg-primary">
                                        <div class="card-body text-center py-5 px-4 text-white">
                                            <h6 class="pb-4"><a href="#" class="text-white">Data Protection</a></h6>
                                            <p>Magna tristique tempus. Aliquet hendrerit. Cubilia fusce, ultricies. Massa dolor proin lacus convallis faucibus est faucibus sapien.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col p-0">
                                <div class="card card-flip h-100 bg-dark border-0">
                                    <div class="card-front bg-secondary">
                                        <div class="card-body text-center">
                                            <i class="flaticon-protect flat-medium text-primary"></i>
                                            <h6 class="pt-4"><a href="#" class="text-white">Office Security</a></h6>
                                        </div>
                                    </div>
                                    <div class="card-back bg-primary">
                                        <div class="card-body text-center py-5 px-4 text-white">
                                            <h6 class="pb-4"><a href="#" class="text-white">Office Security</a></h6>
                                            <p>Magna tristique tempus. Aliquet hendrerit. Cubilia fusce, ultricies. Massa dolor proin lacus convallis faucibus est faucibus sapien.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col p-0">
                                <div class="card card-flip h-100 bg-dark border-0">
                                    <div class="card-front bg-secondary">
                                        <div class="card-body text-center">
                                            <i class="flaticon-security-1 flat-medium text-primary"></i>
                                            <h6 class="pt-4"><a href="#" class="text-white">Internet Security</a></h6>
                                        </div>
                                    </div>
                                    <div class="card-back bg-primary">
                                        <div class="card-body text-center py-5 px-4 text-white">
                                            <h6 class="pb-4"><a href="#" class="text-white">Internet Security</a></h6>
                                            <p>Magna tristique tempus. Aliquet hendrerit. Cubilia fusce, ultricies. Massa dolor proin lacus convallis faucibus est faucibus sapien.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col p-0">
                                <div class="card card-flip h-100 bg-dark border-0">
                                    <div class="card-front bg-secondary">
                                        <div class="card-body text-center">
                                            <i class="flaticon-touch flat-medium text-primary"></i>
                                            <h6 class="pt-4"><a href="#" class="text-white">Access Control Service</a></h6>
                                        </div>
                                    </div>
                                    <div class="card-back bg-primary">
                                        <div class="card-body text-center py-5 px-4 text-white">
                                            <h6 class="pb-4"><a href="#" class="text-white">Access Control Service</a></h6>
                                            <p>Magna tristique tempus. Aliquet hendrerit. Cubilia fusce, ultricies. Massa dolor proin lacus convallis faucibus est faucibus sapien.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col p-0">
                                <div class="card card-flip h-100 bg-dark border-0">
                                    <div class="card-front bg-secondary">
                                        <div class="card-body text-center">
                                            <i class="flaticon-padlock flat-medium text-primary"></i>
                                            <h6 class="pt-4"><a href="#" class="text-white">Locaksmith Service</a></h6>
                                        </div>
                                    </div>
                                    <div class="card-back bg-primary">
                                        <div class="card-body text-center py-5 px-4 text-white">
                                            <h6 class="pb-4"><a href="#" class="text-white">Locaksmith Service</a></h6>
                                            <p>Magna tristique tempus. Aliquet hendrerit. Cubilia fusce, ultricies. Massa dolor proin lacus convallis faucibus est faucibus sapien.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Services Overview Section End -->

        <!-- Why Choose Us Section Start -->
        <div class="full-row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 mb-sm-30">
                        <img src="assets/images/thumb/square2.png" alt="">
                        <h6 class="font-weight-semibold my-4 down-line">Blandit erat. Egestas semper vivamus. Diam praesent, mollis eget. Scelerisque per turpis porttitor vitae senectus odio a accumsan ullamcorper.</h6>
                        <p>Porttitor volutpat mattis posuere ligula. Ultrices condimentum pulvinar montes netus. Viverra posuere inceptos, nisl quam odio lectus auctor varius. Ad quam nonummy neque ignissim hac convallis ut enim. Aenean id nam ridiculus
                            lobortis nvallis. Faucibus felis integer nulla mollis rhoncus auctor potenti. Nunc purus sapien aliquet ullamcorper cum potenti.</p>
                        <a href="#" class="btn btn-primary d-block rounded-0 mt-5 text-white">Get Free Consultation</a>
                        <a href="#" class="btn d-block mt-4">Download Brouchers</a>
                    </div>
                    <div class="col-lg-7 pl-5">
                        <span class="pb-3 tagline d-block text-primary">Why Choose Us</span>
                        <h2 class="text-secondary mb-4 down-line">We Are Most Popular And Trusted Security Agency</h2>
                        <ul class="list-num">
                            <li class="mb-4">Nibh hendrerit dolor sit natoque maecenas praesent, tristique suscipit per semper auctor. Nisi erat laoreet aliquam, nisl purus netus morbi nullam natoque interdum mi Vehicula adipiscing vivamus habitant, vivamus praesent eu
                                nisl dictumst faucibus. Elit quam sociis lobortis taciti adipiscing mi malesuada.</li>
                            <li class="mb-4">Neque ornare, eros et venenatis suspendisse eros ligula aliquet suscipit netus neque magna nulla eleifend. Phasellus. Id suscipit porta dis pede donec lorem inceptos elementum lacinia parturient etiam pellentesque ultrices
                                vulputate feugiat vivamus netus cum sem pretium bibendum dapibus amet dui amet ullamcorper elementum platea nisl ac. </li>
                            <li class="mb-4">Neque nascetur habitasse sed laoreet rhoncus congue hendrerit, velit netus Pulvinar enim. Curabitur lorem, conubia iaculis. Leo sem risus ornare id feugiat pretium tortor mauris etiam velit in aptent penatibus urna habitasse
                                fringilla elementum ultricies magnis torquent praesent sagittis tellus varius. Sociosqu ridiculus leo netu.</li>
                            <li class="mb-4">Neque nascetur habitasse sed laoreet rhoncus congue hendrerit, velit netus Pulvinar enim. Curabitur lorem, conubia iaculis. Leo sem risus ornare id feugiat pretium tortor mauris etiam velit in aptent penatibus urna habitasse
                                fringilla elementum ultricies magnis torquent praesent sagittis tellus varius. Sociosqu ridiculus leo netu.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Why Choose Us Section End -->

        <!-- Our Team Section Start -->
        <div class="full-row bg-secondary">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="mb-sm-30 text-light">
                            <span class="font-medium text-primary mb-3">Our Team</span>
                            <h3 class="text-white mb-4">Best Of Efficient Team Leaders</h3>
                            <p>Faucibus orci aenean ipsum Etiam pellentesque taciti magnis auctor pellentesque bibendum sed Dapibus libero suscipit maecenas venenatis maecenas eget quis semper, ornare ad ante. Pretium inceptos ac gravida. Varius Lobortis,
                                magnis maecenas fusce quisque.</p>
                            <p>Laoreet nullam odio vehicula mauris ligula sociis pharetra sociis dictumst elit potenti molestie. Conubia nec fusce sodales lacinia Eget ad magnis interdum torquent gravida.</p>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row row-cols-lg-3 row-cols-sm-2 row-cols-1">
                            <div class="col">
                                <div class="thumb-team-classic text-center mb-4 transation">
                                    <img src="assets/images/team/1.png" alt="image not found">
                                    <h6 class="mt-3"><a href="#" class="text-white">Zachary Dennis</a></h6>
                                    <span class="text-primary text-uppercase font-mini font-600">Founder</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="thumb-team-classic text-center mb-4 transation">
                                    <img src="assets/images/team/2.png" alt="image not found">
                                    <h6 class="mt-3"><a href="#" class="text-white">Zachary Dennis</a></h6>
                                    <span class="text-primary text-uppercase font-mini font-600">DIrector</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="thumb-team-classic text-center mb-4 transation">
                                    <img src="assets/images/team/3.png" alt="image not found">
                                    <h6 class="mt-3"><a href="#" class="text-white">Zachary Dennis</a></h6>
                                    <span class="text-primary text-uppercase font-mini font-600">Manager</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="thumb-team-classic text-center mb-4 transation">
                                    <img src="assets/images/team/4.png" alt="image not found">
                                    <h6 class="mt-3"><a href="#" class="text-white">Zachary Dennis</a></h6>
                                    <span class="text-primary text-uppercase font-mini font-600">Human Resource</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="thumb-team-classic text-center mb-4 transation">
                                    <img src="assets/images/team/5.png" alt="image not found">
                                    <h6 class="mt-3"><a href="#" class="text-white">Zachary Dennis</a></h6>
                                    <span class="text-primary text-uppercase font-mini font-600">Media Director</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="thumb-team-classic text-center mb-4 transation">
                                    <img src="assets/images/team/6.png" alt="image not found">
                                    <h6 class="mt-3"><a href="#" class="text-white">Zachary Dennis</a></h6>
                                    <span class="text-primary text-uppercase font-mini font-600">Co-Operator</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Team Section End -->

        <!-- Pricing Table Section Start -->
        <div class="full-row sm-bg-img-none" style="background: url(assets/images/shape/8.png) no-repeat top left;">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 mx-auto text-center">
                        <span class="title-tag font-medium text-primary">Pricing Table</span>
                        <h2 class="down-line text-center text-secondary mb-5">Security Pakages</h2>
                    </div>
                </div>
                <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1" style="margin-left: -5px; margin-right: -5px">
                    <div class="col mb-2">
                        <div class="pricing-thumb-classic bg-white hover-bg-primary hover-text-white h-100 transation">
                            <div class="p-4">
                                <h5 class="text-secondary mb-3">Private Security</h5>
                                <span class="h4 text-primary d-block">$399</span>
                                <span class="higlight-font font-medium d-block">Personal Security and Support</span>
                            </div>
                            <div class="price-data text-secondary p-4">
                                <p>We provide single security guard and equipment</p>
                            </div>
                            <div class="p-4">
                                <a href="#" class="btn btn-secondary rounded-0" style="margin-top: -70px">Request Now</a>
                                <ul class="price-chart">
                                    <li># Euismod elit posuere.</li>
                                    <li># Sociis elit feugiat.</li>
                                    <li># Praesent ante Praesent.</li>
                                    <li># Suscipit dictum tristique.</li>
                                    <li># Interdum nullam aptent varius.</li>
                                    <li>-</li>
                                    <li>-</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-2">
                        <div class="pricing-thumb-classic bg-white hover-bg-primary hover-text-white h-100 transation">
                            <div class="p-4">
                                <h5 class="text-secondary mb-3">Housing Security</h5>
                                <span class="h4 text-primary d-block">$1099</span>
                                <span class="higlight-font font-medium d-block">Technical security support</span>
                            </div>
                            <div class="price-data text-secondary p-4">
                                <p>We provide single security guard and equipment</p>
                            </div>
                            <div class="p-4">
                                <a href="#" class="btn btn-secondary rounded-0" style="margin-top: -70px">Request Now</a>
                                <ul class="price-chart">
                                    <li># Tortor luctus non volutpat </li>
                                    <li># Bibendum vulputate dictumst </li>
                                    <li># Ultricies, in volutpat nunc </li>
                                    <li># Eleifend vulputate massa </li>
                                    <li># Eleifend ridiculus imperdiet</li>
                                    <li># Elit pharetra mattis </li>
                                    <li># Felis quis dictum vitae netus</li>
                                    <li>-</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-2">
                        <div class="pricing-thumb-classic bg-white hover-bg-primary hover-text-white h-100 transation">
                            <div class="p-4">
                                <h5 class="text-secondary mb-3">Installation</h5>
                                <span class="h4 text-primary d-block">$850</span>
                                <span class="higlight-font font-medium d-block">Security system installation</span>
                            </div>
                            <div class="price-data text-secondary p-4">
                                <p>Supply business and building security system and support</p>
                            </div>
                            <div class="p-4">
                                <a href="#" class="btn btn-secondary rounded-0" style="margin-top: -70px">Request Now</a>
                                <ul class="price-chart">
                                    <li># Euismod elit posuere.</li>
                                    <li># Sociis elit feugiat.</li>
                                    <li># Praesent ante Praesent.</li>
                                    <li># Suscipit dictum tristique.</li>
                                    <li># Interdum nullam aptent varius.</li>
                                    <li># Eleifend ridiculus imperdiet. </li>
                                    <li># Curae elit pharetra mattis.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-2">
                        <div class="pricing-thumb-classic bg-white hover-bg-primary hover-text-white h-100 transation">
                            <div class="p-4">
                                <h5 class="text-secondary mb-3">Video Covarage</h5>
                                <span class="h4 text-primary d-block">$2200</span>
                                <span class="higlight-font font-medium d-block">Event and area monitoring</span>
                            </div>
                            <div class="price-data text-secondary p-4">
                                <p>Specific area coverage and monitoring for any event</p>
                            </div>
                            <div class="p-4">
                                <a href="#" class="btn btn-secondary rounded-0" style="margin-top: -70px">Request Now</a>
                                <ul class="price-chart">
                                    <li># Euismod elit posuere.</li>
                                    <li># Sociis elit feugiat.</li>
                                    <li># Praesent ante Praesent.</li>
                                    <li># Suscipit dictum tristique.</li>
                                    <li># Interdum nullam aptent varius.</li>
                                    <li>-</li>
                                    <li>-</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pricing Table Section End -->

        <!-- Appointment Bannar Section Start -->
        <div class="full-row overlay-secondary paraxify" style="background-image: url(assets/images/background/5.png); background-repeat: no-repeat;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-sm-30">
                        <h2 class="text-white mb-5">Getting Assistence Call Our Security Team Any Situation</h2>
                        <div class="text-white">
                            <p>You can also fill out our online form if you are interested in learning more. We are ready to keep you and your business safe and secure.</p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <a href="#" class="btn btn-primary rounded-0 text-white float-lg-right">Make An Appointment</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Appointment Bannar Section End -->

        <!-- Achievement & Testimonial Section Start -->
        <div class="full-row bg-primary-secondary">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 pb-5 pb-lg-0">
                        <div class="row mt-5 fact-counter row-cols-sm-3 row-cols-1 justify-content-center">
                            <div class="col sm-mb-30">
                                <div class="text-center count wow fadeIn" data-wow-duration="300ms">
                                    <i class="flaticon-shield-1 flat-medium text-white"></i>
                                    <span class="count-num text-white h3 my-3 d-block font-weight-normal" data-speed="3000" data-stop="1237">0</span>
                                    <div class="text-white higlight-font font-weight-medium font-medium">Security Installed</div>
                                </div>
                            </div>
                            <div class="col sm-mb-30">
                                <div class="text-center count wow fadeIn" data-wow-duration="300ms">
                                    <i class="flaticon-key flat-medium text-white"></i>
                                    <span class="count-num text-white h3 my-3 d-block font-weight-normal" data-speed="3000" data-stop="372">0</span>
                                    <div class="text-white higlight-font font-weight-medium font-medium">Permission Secured</div>
                                </div>
                            </div>
                            <div class="col sm-mb-30">
                                <div class="text-center count wow fadeIn" data-wow-duration="300ms">
                                    <i class="flaticon-like flat-medium text-white"></i>
                                    <span class="count-num text-white h3 my-3 d-block font-weight-normal" data-speed="3000" data-stop="3854">0</span>
                                    <div class="text-white higlight-font font-weight-medium font-medium">Happy Customer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 pt-5 pt-lg-0 pl-5">
                        <h5 class="down-line text-white mb-5">Customer Testimonial</h5>
                        <div class="owl-carousel single-carousel testimonial-slider dot-disable owl-nav-top-right position-static">
                            <div class="testimonial-item pl-0">
                                <div class="text-white">
                                    <p>Hendrerit dapibus natoque class taciti, egestas orci dis dictumst duis platea penatibus. Pretium fusce. Nullam. Dui nec purus nam. Aenean quam nulla mauris primis mi blandit turpis nulla.</p>
                                </div>
                                <span class="name text-primary h6 mt-5 d-block font-weight-normal">Gilbert E. Lyons, CEO Unicoder</span>
                            </div>
                            <div class="testimonial-item pl-0">
                                <div class="text-white">
                                    <p>Hendrerit dapibus natoque class taciti, egestas orci dis dictumst duis platea penatibus. Pretium fusce. Nullam. Dui nec purus nam. Aenean quam nulla mauris primis mi blandit turpis nulla.</p>
                                </div>
                                <span class="name text-primary h6 mt-5 d-block font-weight-normal">Gilbert E. Lyons, CEO Unicoder</span>
                            </div>
                            <div class="testimonial-item pl-0">
                                <div class="text-white">
                                    <p>Hendrerit dapibus natoque class taciti, egestas orci dis dictumst duis platea penatibus. Pretium fusce. Nullam. Dui nec purus nam. Aenean quam nulla mauris primis mi blandit turpis nulla.</p>
                                </div>
                                <span class="name text-primary h6 mt-5 d-block font-weight-normal">Gilbert E. Lyons, CEO Unicoder</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Achievement & Testimonial Section Start -->

        <!-- Security Product Section Start -->
        <div class="full-row bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto text-center mb-5">
                        <span class="title-tag font-medium text-primary">Recently Release</span>
                        <h2 class="down-line text-center text-secondary mb-4">Security Product</h2>
                        <span class="sub-title text-center">Mollis consequat taciti nullam hac mattis, molestie sociis sodales aliquam penatibus tincidunt. Ridiculus. Magnis, aliquam ad vestibulum ac pellentesque inceptos sem.</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="owl-carousel 4block-carousel dot-disable nav-twice-middle position-relative">
                            <div class="product-item hover-img-zoom">
                                <div class="product-img overflow-hidden bg-light transation">
                                    <a href="#" class="product-link">
                                        <img src="assets/images/product/1.png" alt="image not found!">
                                    </a>
                                    <div class="love-like d-flex justify-content-center align-items-center">
                                        <a href="#" class="woo-wishlist"><span class="flaticon-like-1 flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-shopping-bag flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-search flat-mini"></span></a>
                                    </div>
                                </div>
                                <div class="content pt-3 px-3 text-center">
                                    <h6 class="font-weight-medium title"><a href="#" class="text-secondary hover-text-primary">Aluminum Housing Home Security Camera</a></h6>
                                    <span class="d-block mt-3 mb-0 h6 font-weight-medium text-primary">$25.00</span>
                                </div>
                            </div>
                            <div class="product-item hover-img-zoom">
                                <div class="product-img overflow-hidden bg-light transation">
                                    <a href="#" class="product-link">
                                        <img src="assets/images/product/2.png" alt="image not found!">
                                    </a>
                                    <div class="love-like d-flex justify-content-center align-items-center">
                                        <a href="#" class="woo-wishlist"><span class="flaticon-like-1 flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-shopping-bag flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-search flat-mini"></span></a>
                                    </div>
                                </div>
                                <div class="content pt-3 px-3 text-center">
                                    <h6 class="font-weight-medium title"><a href="#" class="text-secondary hover-text-primary">Digital Safety Door Lock</a></h6>
                                    <span class="d-block mt-3 mb-0 h6 font-weight-medium text-primary">$32.00</span>
                                </div>
                            </div>
                            <div class="product-item hover-img-zoom">
                                <div class="product-img overflow-hidden bg-light transation">
                                    <a href="#" class="product-link">
                                        <img src="assets/images/product/3.png" alt="image not found!">
                                    </a>
                                    <div class="love-like d-flex justify-content-center align-items-center">
                                        <a href="#" class="woo-wishlist"><span class="flaticon-like-1 flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-shopping-bag flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-search flat-mini"></span></a>
                                    </div>
                                </div>
                                <div class="content pt-3 px-3 text-center">
                                    <h6 class="font-weight-medium title"><a href="#" class="text-secondary hover-text-primary">Wireless Audio-Recording Night WebCam</a></h6>
                                    <span class="d-block mt-3 mb-0 h6 font-weight-medium text-primary">$18.00</span>
                                </div>
                            </div>
                            <div class="product-item hover-img-zoom">
                                <div class="product-img overflow-hidden bg-light transation">
                                    <a href="#" class="product-link">
                                        <img src="assets/images/product/4.png" alt="image not found!">
                                    </a>
                                    <div class="love-like d-flex justify-content-center align-items-center">
                                        <a href="#" class="woo-wishlist"><span class="flaticon-like-1 flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-shopping-bag flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-search flat-mini"></span></a>
                                    </div>
                                </div>
                                <div class="content pt-3 px-3 text-center">
                                    <h6 class="font-weight-medium title"><a href="#" class="text-secondary hover-text-primary">Galileo Announces Alpha Security Drone</a></h6>
                                    <span class="d-block mt-3 mb-0 h6 font-weight-medium text-primary">$25.00</span>
                                </div>
                            </div>
                            <div class="product-item hover-img-zoom">
                                <div class="product-img overflow-hidden bg-light transation">
                                    <a href="#" class="product-link">
                                        <img src="assets/images/product/1.png" alt="image not found!">
                                    </a>
                                    <div class="love-like d-flex justify-content-center align-items-center">
                                        <a href="#" class="woo-wishlist"><span class="flaticon-like-1 flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-shopping-bag flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-search flat-mini"></span></a>
                                    </div>
                                </div>
                                <div class="content pt-3 px-3 text-center">
                                    <h6 class="font-weight-medium title"><a href="#" class="text-secondary hover-text-primary">Aluminum Housing Home Security Camera</a></h6>
                                    <span class="d-block mt-3 mb-0 h6 font-weight-medium text-primary">$25.00</span>
                                </div>
                            </div>
                            <div class="product-item hover-img-zoom">
                                <div class="product-img overflow-hidden bg-light transation">
                                    <a href="#" class="product-link">
                                        <img src="assets/images/product/2.png" alt="image not found!">
                                    </a>
                                    <div class="love-like d-flex justify-content-center align-items-center">
                                        <a href="#" class="woo-wishlist"><span class="flaticon-like-1 flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-shopping-bag flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-search flat-mini"></span></a>
                                    </div>
                                </div>
                                <div class="content pt-3 px-3 text-center">
                                    <h6 class="font-weight-medium title"><a href="#" class="text-secondary hover-text-primary">Digital Safety Door Lock</a></h6>
                                    <span class="d-block mt-3 mb-0 h6 font-weight-medium text-primary">$32.00</span>
                                </div>
                            </div>
                            <div class="product-item hover-img-zoom">
                                <div class="product-img overflow-hidden bg-light transation">
                                    <a href="#" class="product-link">
                                        <img src="assets/images/product/3.png" alt="image not found!">
                                    </a>
                                    <div class="love-like d-flex justify-content-center align-items-center">
                                        <a href="#" class="woo-wishlist"><span class="flaticon-like-1 flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-shopping-bag flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-search flat-mini"></span></a>
                                    </div>
                                </div>
                                <div class="content pt-3 px-3 text-center">
                                    <h6 class="font-weight-medium title"><a href="#" class="text-secondary hover-text-primary">Wireless Audio-Recording Night WebCam</a></h6>
                                    <span class="d-block mt-3 mb-0 h6 font-weight-medium text-primary">$18.00</span>
                                </div>
                            </div>
                            <div class="product-item hover-img-zoom">
                                <div class="product-img overflow-hidden bg-light transation">
                                    <a href="#" class="product-link">
                                        <img src="assets/images/product/4.png" alt="image not found!">
                                    </a>
                                    <div class="love-like d-flex justify-content-center align-items-center">
                                        <a href="#" class="woo-wishlist"><span class="flaticon-like-1 flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-shopping-bag flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-search flat-mini"></span></a>
                                    </div>
                                </div>
                                <div class="content pt-3 px-3 text-center">
                                    <h6 class="font-weight-medium title"><a href="#" class="text-secondary hover-text-primary">Galileo Announces Alpha Security Drone</a></h6>
                                    <span class="d-block mt-3 mb-0 h6 font-weight-medium text-primary">$25.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Security Product Section End -->

        <!-- Partner Slider Section Start -->
        <div class="full-row pt-0 bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="owl-carousel partner-slider dot-disable nav-disable">
                            <div class="item">
                                <a href="#"><img src="assets/images/partner/1.png" alt="Partner Logo" /></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="assets/images/partner/2.png" alt="Partner Logo" /></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="assets/images/partner/3.png" alt="Partner Logo" /></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="assets/images/partner/4.png" alt="Partner Logo" /></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="assets/images/partner/5.png" alt="Partner Logo" /></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="assets/images/partner/6.png" alt="Partner Logo" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Partner Slider Section End -->

        <!-- Newslatter Section Start -->
        <div class="full-row bg-primary py-5">
            <div class="container">
                <div class="subscribe-banner">
                    <div class="row">
                        <div class="col-lg-4">
                            <h3 class="mb-0 text-white position-relative y-center">Newslatter Subscribe</h3>
                        </div>
                        <div class="col-lg-8">
                            <div class="py-3 float-right w-100">
                                <form action="#" method="post">
                                    <div class="form-row newslatter">
                                        <div class="col-sm-8 mb-4 mb-sm-0">
                                            <input type="email" name="email" class="pl-0 white-placeholder form-control bg-transparent border-bottom rounded-0 mb-0 text-white" placeholder="Enter Your Email">
                                        </div>
                                        <div class="col-sm-3 ml-auto">
                                            <button class="btn btn-secondary rounded-0 text-white float-right w-100" name="subscribe">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newslatter Section End -->

        <!-- Footer Section Start -->
        <footer class="full-row bg-secondary footer-default-dark" style="padding-bottom: 30px;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="footer-widget contact-widget mb-5">
                            <div class="footer-logo mb-4">
                                <img src="assets/images/logo/2.png" alt="Image not found!">
                            </div>
                        </div>
                        <div class="footer-widget media-widget mb-5">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="footer-widget contact-widget mb-5">
                            <h4 class="widget-title mb-4">Contact Info</h4>
                            <ul>
                                <li>Collins Street West, Victoria 8007, Australia</li>
                                <li>Phone: 902-000-99999</li>
                                <li>Email: support@owehbureau.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-2 col-md-6">
                        <div class="footer-widget widget-nav mb-5">
                            <h4 class="widget-title mb-4">Page Links</h4>
                            <ul>
                                <li><a href="#">About Company</a></li>
                                <li><a href="#">Terms and Conditions</a></li>
                                <li><a href="#">Consultation</a></li>
                                <li><a href="#">How It Work</a></li>
                                <li><a href="#">Emeargency Support</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="footer-widget appointment-widget mb-4">
                            <h4 class="widget-title mb-4">Appointment</h4>
                            <p>Morbi risus velit nulla lorem et malesuada. Magnis, vel faucibus risus fusce sit senectus mus.</p>
                            <a href="#" class="btn btn-primary rounded-0 text-white d-block mt-4">Make An Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="bg-secondary py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span>© 2020 All Rights Reserved Owehbureau</span>
                    </div>
                    <div class="col-md-6">
                        <ul class="line-menu float-md-right list-color-general">
                            <li class="float-left"><a href="#">Privacy Policy </a></li>
                            <li class="float-left">|</li>
                            <li class="float-left"><a href="#">Terms and Condition</a></li>
                            <li class="float-left">|</li>
                            <li class="float-left"><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Section End -->

        <!-- Scroll to top -->
        <a href="#" class="bg-primary text-white" id="scroll"><i class="fa fa-angle-up"></i></a>
        <!-- End Scroll To top -->
    </div>
    <!-- Page Wrapper End -->

    <!--===============================================================================================-->
    <!-- All Javascript Plugin File here -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/greensock.js"></script>
    <script src="assets/js/layerslider.transitions.js"></script>
    <script src="assets/js/layerslider.kreaturamedia.jquery.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.fancybox.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/paraxify.js"></script>
    <script src="assets/js/mixitup.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
        $(document).ready(function() {
            $('#slider').layerSlider({
                sliderVersion: '6.0.0',
                type: 'fullwidth',
                responsiveUnder: 1350,
                maxRatio: 1,
                slideBGSize: 'auto',
                hideUnder: 0,
                hideOver: 100000,
                autoStart: true,
                keybNav: true,
                touchNav: true,
                skin: 'numbers',
                navPrevNext: false,
                hoverPrevNext: false,
                navStartStop: true,
                navButtons: true,
                showCircleTimer: false,
                allowRestartOnResize: true,
                skinsPath: 'assets/skins/',
                height: 980
            });
        });
    </script>
</body>

</html>