<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Owehbureau - Security and Profiling Agency ">
    <meta name="author" content="unicoder">
    <title>Owehbureau - Security and Profiling Agency </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.png">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap&subset=latin-ext,vietnamese" rel="stylesheet">

    <!--  CSS Style -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/webfonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/layerslider.css">
    <link rel="stylesheet" href="assets/css/template.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/category/category-three.css">

</head>

<body>
    <div id="page_wrapper" class="bg-light">
        <!-- Header Section Start -->
        <header class="transparent-header nav-on-top box-header fixed-bg-white">
            <div class="sm-mx-none top-header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-3">
                            <a class="navbar-brand" href="#"><img class="nav-logo" src="assets/images/logo/3.png" alt="Image not found !"></a>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <ul class="d-flex justify-content-center align-items-center h-100 sign-in-up">
                                <li><a href="sign-up.html">Sign Up</a></li>
                                <li class="active"><a href="sign-in.html">User Login</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2">
                            <div class="d-flex justify-content-end align-items-center phone-use pl-3 h-100">
                                <i class="flaticon-phone-call flat-mini text-primary mr-2 py-1"></i>
                                <span class="text-secondary">(212) 320 32 20</span><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-nav">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10">
                            <nav class="navbar navbar-expand-lg nav-gray nav-primary-hover nav-down-line-active">
                                <a class="navbar-brand d-lg-none" href="#"><img class="nav-logo" src="assets/images/logo/3.png" alt="Image not found !"></a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon flaticon-menu flat-small text-primary"></span>
								</button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav justify-content-between w-100">
                                        <li class="nav-item dropdown active">
                                            <a class="nav-link dropdown-toggle" href="#">Home</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="index.html">Landing Page</a></li>
                                                <li><a class="dropdown-item" href="index-security.html">Security</a></li>
                                                <li><a class="dropdown-item" href="index-agency.html">Agency Security</a></li>
                                                <li><a class="dropdown-item" href="index-cctv-system.html">CCTV Security</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Installations</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="accessories.html">Accessories</a>
                                        </li>
                                        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="shop.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="shop.html">Shop</a></li>
                                                <li><a class="dropdown-item" href="shop-list.html">Shop List</a></li>
                                                <li><a class="dropdown-item" href="shop-single.html">Shop Single</a></li>
                                                <li><a class="dropdown-item" href="sign-in.html">Sign In</a></li>
                                                <li><a class="dropdown-item" href="sign-up.html">Sign Up</a></li>
                                                <li><a class="dropdown-item" href="cart.html">Cart</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="general-support.html">Customer Support</a>
                                        </li>
                                        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="pricing.html">Pricing</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="pricing.html">Pricing</a></li>
                                                        <li><a class="dropdown-item" href="pricing-extend.html">Pricing Extend</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="career.html">Career</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="career.html">Career</a></li>
                                                        <li><a class="dropdown-item" href="application.html">Application</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="team.html">Team</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="team.html">Team Member</a></li>
                                                        <li><a class="dropdown-item" href="profile-details.html">Member Profile</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="certification.html">Certificate</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="certification.html">Certification</a></li>
                                                        <li><a class="dropdown-item" href="certification-detail.html">Certification Details</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="general-support.html">Help and Support</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="how-it-work.html">How It Work</a></li>
                                                        <li><a class="dropdown-item" href="general-support.html">General Support</a></li>
                                                        <li><a class="dropdown-item" href="help-center.html">Help Center</a></li>
                                                        <li><a class="dropdown-item" href="support-article-details.html">Support Article</a></li>
                                                        <li><a class="dropdown-item" href="terms-and-condition.html">Terms & Condition</a></li>
                                                    </ul>
                                                </li>
                                                <li><a class="dropdown-item" href="testimonial.html">Testimonial</a></li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="gallery.html">Gallery</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="gallery.html">Gallery default</a></li>
                                                        <li><a class="dropdown-item" href="gallery-fullwidth.html">Gallery fullwidth</a></li>
                                                        <li><a class="dropdown-item" href="gallery-masonry.html">Gallery masonry</a></li>
                                                        <li><a class="dropdown-item" href="gallery-detail.html">Gallery Details</a></li>
                                                    </ul>
                                                </li>
                                                <li><a class="dropdown-item" href="quote.html">Quote</a></li>
                                                <li><a class="dropdown-item" href="faq.html">Faq</a></li>
                                                <li><a class="dropdown-item" href="404.html">404 Page</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="blog.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="blog.html">Blog</a></li>
                                                <li><a class="dropdown-item" href="blog-fullwidth-box.html">Blog Full Box Width</a></li>
                                                <li><a class="dropdown-item" href="blog-fullwidth.html">Blog Full Width</a></li>
                                                <li><a class="dropdown-item" href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                                <li><a class="dropdown-item" href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                                <li><a class="dropdown-item" href="blog-details.html">Blog Details Right</a></li>
                                                <li><a class="dropdown-item" href="blog-details-left-sidebar.html">Blog Details Left</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="contact.html">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="col-lg-2 d-none d-lg-block">
                            <form action="#" method="post" class="position-relative h-100 group-form">
                                <input class="form-control h-100 bg-transparent" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn-search my-2 my-sm-0 text-primary" type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header Section End -->

        <!-- Slider HTML markup -->
        <div class="full-row p-0 overflow-hidden">
            <div id="slider" style="width:1200px; height:800px; margin:0 auto; margin-bottom: 0px;">
                <!-- Slide 1-->
                <div class="ls-slide" data-ls="duration:12000; transition2d:4; kenburnsscale:1.2;">

                    <p style="font-weight:800; width:500px; font-size:50px; line-height:60px; top:35%; left:32px; white-space:normal; text-transform: uppercase" class="ls-l text-secondary higlight-font" data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400; parallaxlevel:0;">A Camera That Puts a World of <span class="text-primary">Possibilities</span> At Your Fingertips</p>

                    <img width="607" height="607" src="assets/images/slider/layer-1.png" alt="" style="top:50%; left:67%" class="ls-l" data-ls="offsetxin:500; delayin:300; parallax:false; parallaxlevel:1; static:forever; position:fixed;">

                    <img width="502" height="502" src="assets/images/slider/layer-2.png" alt="" style="top:50%; left:67%" class="ls-l" data-ls="offsetxin:500; delayin:500; parallax:false; parallaxlevel:1; static:forever; position:fixed;">

                    <img width="423" height="407" src="assets/images/slider/layer-3.png" alt="" style="top:210px; left:66%;" class="ls-l" data-ls="offsetxin:400; delayin:700; parallax:false; parallaxlevel:1; static:forever; position:fixed;">

                    <p style="width:480px; font-weight:600; font-size:17px; line-height:30px; top:410px; left:32px; white-space:normal;" class="ls-l ls-hide-phone general-font" data-ls="offsetyin:150; durationin:700; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400; parallaxlevel:0; delayin:500;">Dignissim suspendisse iaculis ridiculus elementum imperdiet aliquet, elit parturient condimentum cum scelerisque primis aenean porttitor massa orci maecenas laoreet.</p>

                    <a style="" class="ls-l ls-hide-phone" href="#" target="_self" data-ls="offsetyin:150; durationin:700; delayin:400; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400; hover:true; hoveropacity:1; ">
                        <p style="cursor:pointer; padding-top:10px; padding-bottom:10px; font-size:14px; top:570px; left:32px; background:#802d84; color:#fff; text-transform: uppercase; padding-right:25px; padding-left:25px; line-height:28px; border-radius:2px;" class="shadow-lg">Request For Setup</p>
                    </a>
                </div>
                <!-- Slide 1-->
                <div class="ls-slide" data-ls="duration:12000; transition2d:4; kenburnsscale:1.2;">

                    <p style="font-weight:800; width:500px; font-size:50px; line-height:60px; top:35%; left:32px; white-space:normal; text-transform: uppercase" class="ls-l text-secondary higlight-font" data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400; parallaxlevel:0;">A Camera That Puts a World of <span class="text-primary">Possibilities</span> At Your Fingertips</p>

                    <p style="width:480px; font-weight:600; font-size:17px; line-height:30px; top:410px; left:32px; white-space:normal;" class="ls-l ls-hide-phone general-font" data-ls="offsetyin:150; durationin:700; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400; parallaxlevel:0; delayin:500;">Dignissim suspendisse iaculis ridiculus elementum imperdiet aliquet, elit parturient condimentum cum scelerisque primis aenean porttitor massa orci maecenas laoreet.</p>

                    <a style="" class="ls-l ls-hide-phone" href="#" target="_self" data-ls="offsetyin:150; durationin:700; delayin:400; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400; hover:true; hoveropacity:1; ">
                        <p style="cursor:pointer; padding-top:10px; padding-bottom:10px; font-size:14px; top:570px; left:32px; background:#802d84; color:#fff; text-transform: uppercase; padding-right:25px; padding-left:25px; line-height:28px; border-radius:2px;" class="shadow-lg">Request For Setup</p>
                    </a>
                </div>
            </div>
            <!-- Follow link on slider -->
            <div class="follow-vertical position-absolute right xs-mx-none">
                <span>Follow Us:</span>
                <a class="text-dark" href="#">Fb.</a>/<a class="text-dark" href="#">In.</a>/<a class="text-dark" href="#">Tw.</a>
            </div>
        </div>


        <!--Our Success Section Start -->
        <div class="full-row sm-bg-img-none" style="background: url(assets/images/shape/9.png) no-repeat left bottom/15%;">
            <div class="container">
                <div class="row row-cols-lg-6 row-cols-md-3 row-cols-2 mb-5">
                    <div class="col">
                        <div class="icon-thumb thumb-line hover-bg-white text-center py-4 px-2 transation hover-change mb-4">
                            <span class="flaticon-sprinkle flat-medium text-secondary change-text-primary d-block mb-3"></span>
                            <h6 class="font-medium mb-0"><a href="#" class="text-secondary change-text-primary">Sprinkle</a></h6>
                        </div>
                    </div>
                    <div class="col">
                        <div class="icon-thumb thumb-line hover-bg-white text-center py-4 px-2 transation hover-change mb-4">
                            <span class="flaticon-cctv flat-medium text-secondary change-text-primary d-block mb-3"></span>
                            <h6 class="font-medium mb-0"><a href="#" class="text-secondary change-text-primary">CC Camera</a></h6>
                        </div>
                    </div>
                    <div class="col">
                        <div class="icon-thumb thumb-line hover-bg-white text-center py-4 px-2 transation hover-change mb-4">
                            <span class="flaticon-security-1 flat-medium text-secondary change-text-primary d-block mb-3"></span>
                            <h6 class="font-medium mb-0"><a href="#" class="text-secondary change-text-primary">Access</a></h6>
                        </div>
                    </div>
                    <div class="col">
                        <div class="icon-thumb thumb-line hover-bg-white text-center py-4 px-2 transation hover-change mb-4">
                            <span class="flaticon-alarm flat-medium text-secondary change-text-primary d-block mb-3"></span>
                            <h6 class="font-medium mb-0"><a href="#" class="text-secondary change-text-primary">Fire Alarm</a></h6>
                        </div>
                    </div>
                    <div class="col">
                        <div class="icon-thumb thumb-line hover-bg-white text-center py-4 px-2 transation hover-change mb-4">
                            <span class="flaticon-drone flat-medium text-secondary change-text-primary d-block mb-3"></span>
                            <h6 class="font-medium mb-0"><a href="#" class="text-secondary change-text-primary">Drone Cam</a></h6>
                        </div>
                    </div>
                    <div class="col">
                        <div class="icon-thumb thumb-line hover-bg-white text-center py-4 px-2 transation hover-change mb-4">
                            <span class="flaticon-control-room flat-medium text-secondary change-text-primary d-block mb-3"></span>
                            <h6 class="font-medium mb-0"><a href="#" class="text-secondary change-text-primary">Control Rooms</a></h6>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-lg-5">
                        <span class="title-tag font-medium text-primary mb-3 d-block">About Our Company</span>
                        <h3 class="text-secondary mb-4 down-line">This is our gools to explain our solutions and services</h3>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-lg-6">
                                <p>Sociis quam ante condimentum justo, nisl hymenaeos magnis ultricies torquent laoreet facilisi dictum venenatis id elit commodo condimentum hymenaeos, dis urna natoque. Ultrices porttitor dolor mattis posuere rutrum netus.
                                    Torquent praesent suspendisse proin sollicitudin.</p>
                            </div>
                            <div class="col-lg-6">
                                <p>Sapien eget praesent. Consequat posuere mauris porta nascetur suspendisse sem primis phasellus felis donec rutrum suscipit proin vitae habitant. Lectus tincidunt semper, natoque at Eu pretium nibh rhoncus sodales.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row position-relative">
                    <div class="col-xl-10 col-lg-11 position-static sm-m-0" style="margin-bottom: 200px;">
                        <img src="assets/images/background/7.png" class="d-none d-lg-block" alt="" style="position: absolute; top: 215px; right: 0; width: 83.33%;">
                        <div class="position-relative row">
                            <div class="col-md-5 pr-md-0">
                                <div class="p-5 overlay-white position-relative z-index-9">
                                    <div class="position-relative z-index-9">
                                        <span class="font-medium text-primary font-weight-semibold mb-3 d-block">Our Platform</span>
                                        <h2 class="text-secondary mb-5 text-uppercase">See the Secret of Our Success Story</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 pl-md-0">
                                <div class="overlay-primary text-white p-5">
                                    <div class="position-relative z-index-9">
                                        <p>Parturient facilisi ut. Felis at metus, lorem mattis. Class netus, sagittis per venenatis et. Litora consectetuer turpis risus congue. Rutrum dolor, ante litora nulla curae; ipsum sit. Cum accumsan condimentum Nam
                                            aliquet consequat ad blandit fames lacinia ultrices bibendum primis phasellus vitae potenti vulputate consequat dis nascetur quisque blandit litora massa quisque pulvinar curae; erat sagittis.</p>
                                        <p>Vel quam sapien dictum taciti. Per netus lacus nostra sed. Morbi. Euismod mus ornare vel nullam commodo leo magna at mi nascetur duis mus, nascetur. Congue leo aliquet integer magnis urna mauris etiam. Magnis ipsum
                                            cum. Sit lorem aptent, venenatis Porttitor phasellus feugiat consequat. Sapien eget praesent. Consequat posuere mauris porta nascetur suspendisse sem primis phasellus felis donec rutrum suscipit proin vitae
                                            habitant. Lectus tincidunt semper, natoque at Eu pretium nibh rhoncus sodales.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Our Success Section End -->

        <!--Pricing Table Section Start -->
        <div class="full-row bg-gray sm-bg-img-none" style="background: url(assets/images/shape/12.png) no-repeat top right / 15%;">
            <div class="container">
                <div class="row">
                    <div class="col-md-xl col-lg-7 col-md-9 mx-auto text-center">
                        <span class="font-medium text-primary font-weight-semibold mb-3 d-block">Event Publish Pricing</span>
                        <h3 class="text-secondary mb-5 text-uppercase">Choose the all-inclusive pakages best suited to you</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="p-5">
                            <h5 class="text-center">CCTV System</h5>
                            <div class="text-center"><span>Free Preview up to ten attendees</span></div>
                            <ul class="list-style-tick p-4 d-table mx-auto">
                                <li>Only pay when you publish</li>
                                <li>Full featured event app</li>
                                <li>Unlimited featured use</li>
                                <li>24/7 supports</li>
                                <li>Event analytics</li>
                            </ul>
                            <div class="text-center"><span class="h1"><sup>$</sup>699</span></div>
                            <div class="text-center my-3"><span>Publish instantly in bluebird app</span></div>
                            <a href="#" class="btn btn-primary d-table mx-auto rounded-0 text-white mt-4">Get Started</a>
                        </div>
                    </div>
                    <div class="col-lg-4 bg-white">
                        <div class="p-5">
                            <h5 class="text-center">CCTV With IP Server</h5>
                            <div class="text-center"><span>Active for 12 Months</span></div>
                            <ul class="list-style-tick p-4 d-table mx-auto">
                                <li>Only pay when you publish</li>
                                <li>Full featured event app</li>
                                <li>Unlimited featured use</li>
                                <li>24/7 supports</li>
                                <li>Event analytics</li>
                            </ul>
                            <div class="text-center"><span class="h1"><sup>$</sup>1,699</span></div>
                            <div class="text-center my-3"><span>Full setup and available</span></div>
                            <a href="#" class="btn btn-primary d-table mx-auto rounded-0 text-white mt-4">Get Started</a>
                        </div>
                    </div>
                    <div class="col-lg-4 bg-white">
                        <div class="p-5">
                            <h5 class="text-center">Video Monitoring</h5>
                            <div class="text-center"><span>Unlimited event and time</span></div>
                            <ul class="list-style-tick p-4 d-table mx-auto">
                                <li>Only pay when you publish</li>
                                <li>Full featured event app</li>
                                <li>Unlimited featured use</li>
                                <li>24/7 supports</li>
                                <li>Event analytics</li>
                            </ul>
                            <div class="text-center"><span class="h1"><sup>$</sup>599</span>/mo</div>
                            <div class="custom-control custom-switch d-table mx-auto my-3">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                <label class="custom-control-label" for="customSwitch1">Quartely</label>
                            </div>
                            <a href="#" class="btn btn-primary d-table mx-auto rounded-0 text-white mt-4">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Pricing Table Section End -->

        <!--How We Work Section Start -->
        <div class="full-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-xl col-lg-7 col-md-9 mx-auto text-center">
                        <span class="font-medium text-primary font-weight-semibold mb-3 d-block">How We Work</span>
                        <h2 class="text-secondary mb-5 text-uppercase">Best of Our Promise Advertising with Difference</h2>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-lg-6 col-md-6 mb-sm-30">
                        <img src="assets/images/thumb/8.png" alt="">
                    </div>
                    <div class="offset-lg-1 col-lg-5 col-md-6">
                        <div class="position-relative y-center">
                            <h3 class="mb-4 text-primary">Exmination Before Settings</h3>
                            <p>Our specialists have a service warranty and service the equipment purchased, as well as amenities such as free service customer support. Learn more about CCTV from www.asgcctv.co.uk. Given the experience of our experts, you
                                can be sure of a professional, timely completion of all installation work on your site surveillance and/or security systems.</p>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-lg-6 offset-lg-1 order-1 order-md-2 col-md-6 mb-sm-30">
                        <img src="assets/images/thumb/9.png" alt="">
                    </div>
                    <div class="col-lg-5 order-2 order-md-1 col-md-6">
                        <div class="position-relative y-center">
                            <h3 class="mb-4 text-primary">Safe and Secure</h3>
                            <p>Morbi feugiat sit habitant, taciti pharetra. Blandit et elementum leo ad conubia tincidunt a tempor amet augue torquent bibendum mattis. Velit sociis lectus congue felis magnis. Habitasse. Pede cum quisque. Tempor a pretium,
                                erat pulvinar posuere tincidunt sem. Mollis mollis mattis dictum ullamcorper, magnis. Ligula vel neque turpis at nulla sociis quis sed lacinia. Vulputate purus pharetra sollicitudin sociosqu.</p>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-lg-6 col-md-6 mb-sm-30">
                        <img src="assets/images/thumb/10.png" alt="">
                    </div>
                    <div class="offset-lg-1 col-lg-5 col-md-6">
                        <div class="position-relative y-center">
                            <h3 class="mb-4 text-primary">Always Available</h3>
                            <p>Sagittis aptent sociis sollicitudin lacus et nulla. Ad nisi lacus natoque nunc quam justo convallis sociosqu nulla neque blandit eget fusce commodo sagittis parturient iaculis suspendisse sollicitudin erat. Nostra fermentum
                                dignissim congue. Cras mus nec ipsum ac tempor montes arcu. Tempus venenatis elit. Integer iaculis quisque turpis placerat natoque fringilla aliquet rhoncus dui facilisis suspendisse ac vitae tortor luctus varius sagittis
                                gravida vel. Sem. Venenatis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--How We Work Section End -->

        <!-- Important Service Section Start -->
        <div class="full-row overlay-secondary" style="background-image: url(assets/images/background/6.png); background-repeat: no-repeat;">
            <div class="container">
                <div class="row">
                    <div class="col-md-xl col-lg-7 col-md-9 mx-auto text-center">
                        <span class="font-medium text-white font-weight-semibold mb-3 d-block">Features</span>
                        <h3 class="text-white mb-5 text-uppercase">Important for Service</h3>
                        <span class="sub-title mb-5 text-white">Interdum etiam tempor vitae congue. Elit facilisi sit ridiculus hac. Sit tempus varius sem sit etiam vitae maecenas. Hac class condimentum tortor vulputate elit senectus.</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 pr-lg-0 mb-sm-30">
                        <div class="bg-secondary h-100">
                            <div class="list-group">
                                <a class="list-group-item list-group-item-action border-0 text-uppercase active" data-toggle="list" href="#power-protection"><span class="flaticon-power mr-3"></span>Power outage protection</a>
                                <a class="list-group-item list-group-item-action border-0 text-uppercase" data-toggle="list" href="#email-text"><span class="flaticon-notification mr-3"></span>SMS text & email alerts</a>
                                <a class="list-group-item list-group-item-action border-0 text-uppercase" data-toggle="list" href="#professional"><span class="flaticon-cctv mr-3"></span>Professional monitoring</a>
                                <a class="list-group-item list-group-item-action border-0 text-uppercase" data-toggle="list" href="#protection"><span class="flaticon-shield mr-3"></span>Proof rotection</a>
                                <a class="list-group-item list-group-item-action border-0 text-uppercase" data-toggle="list" href="#mobile-control"><span class="flaticon-conveyor mr-3"></span>Go mobile control</a>
                                <a class="list-group-item list-group-item-action border-0 text-uppercase" data-toggle="list" href="#support"><span class="flaticon-24-hours mr-3"></span>24/5 Support</a>
                                <a class="list-group-item list-group-item-action border-0 text-uppercase" data-toggle="list" href="#remote"><span class="flaticon-launch mr-3"></span>Remote adminstration</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 pl-lg-0">
                        <div class="bg-gray h-100">
                            <div class="tab-content">
                                <div class="tab-pane p-5 fade show active" id="power-protection">
                                    <p>Dapibus quam vestibulum dolor aliquet aliquam donec molestie congue donec ligula penatibus. Turpis Curae; per. Convallis natoque neque in senectus vivamus, cursus. Mattis at adipiscing sociis orci. Tempor litora. Penatibus
                                        venenatis. Magna sociosqu elit nascetur congue interdum venenatis sociis, et mattis fames id.</p>
                                    <p>Mauris vulputate. Ultrices at enim litora integer lacinia integer dolor purus Massa nonummy cubilia hymenaeos faucibus purus condimentum praesent natoque hac cubilia, bibendum vitae nisl.</p>
                                    <ul class="list-style-tick">
                                        <li>Only pay when you publish</li>
                                        <li>Full featured event app</li>
                                        <li>Unlimited featured use</li>
                                        <li>24/7 supports</li>
                                        <li>Event analytics</li>
                                    </ul>
                                </div>
                                <div class="tab-pane p-5 fade" id="email-text">
                                    <p>Dapibus quam vestibulum dolor aliquet aliquam donec molestie congue donec ligula penatibus. Turpis Curae; per. Convallis natoque neque in senectus vivamus, cursus. Mattis at adipiscing sociis orci. Tempor litora. Penatibus
                                        venenatis. Magna sociosqu elit nascetur congue interdum venenatis sociis, et mattis fames id.</p>
                                    <p>Mauris vulputate. Ultrices at enim litora integer lacinia integer dolor purus Massa nonummy cubilia hymenaeos faucibus purus condimentum praesent natoque hac cubilia, bibendum vitae nisl.</p>
                                    <ul class="list-style-tick">
                                        <li>Only pay when you publish</li>
                                        <li>Full featured event app</li>
                                        <li>Unlimited featured use</li>
                                        <li>24/7 supports</li>
                                        <li>Event analytics</li>
                                    </ul>
                                </div>
                                <div class="tab-pane p-5 fade" id="professional">
                                    <p>Dapibus quam vestibulum dolor aliquet aliquam donec molestie congue donec ligula penatibus. Turpis Curae; per. Convallis natoque neque in senectus vivamus, cursus. Mattis at adipiscing sociis orci. Tempor litora. Penatibus
                                        venenatis. Magna sociosqu elit nascetur congue interdum venenatis sociis, et mattis fames id.</p>
                                    <p>Mauris vulputate. Ultrices at enim litora integer lacinia integer dolor purus Massa nonummy cubilia hymenaeos faucibus purus condimentum praesent natoque hac cubilia, bibendum vitae nisl.</p>
                                    <ul class="list-style-tick">
                                        <li>Only pay when you publish</li>
                                        <li>Full featured event app</li>
                                        <li>Unlimited featured use</li>
                                        <li>24/7 supports</li>
                                        <li>Event analytics</li>
                                    </ul>
                                </div>
                                <div class="tab-pane p-5 fade" id="protection">
                                    <p>Dapibus quam vestibulum dolor aliquet aliquam donec molestie congue donec ligula penatibus. Turpis Curae; per. Convallis natoque neque in senectus vivamus, cursus. Mattis at adipiscing sociis orci. Tempor litora. Penatibus
                                        venenatis. Magna sociosqu elit nascetur congue interdum venenatis sociis, et mattis fames id.</p>
                                    <p>Mauris vulputate. Ultrices at enim litora integer lacinia integer dolor purus Massa nonummy cubilia hymenaeos faucibus purus condimentum praesent natoque hac cubilia, bibendum vitae nisl.</p>
                                    <ul class="list-style-tick">
                                        <li>Only pay when you publish</li>
                                        <li>Full featured event app</li>
                                        <li>Unlimited featured use</li>
                                        <li>24/7 supports</li>
                                        <li>Event analytics</li>
                                    </ul>
                                </div>
                                <div class="tab-pane p-5 fade" id="mobile-control">
                                    <p>Dapibus quam vestibulum dolor aliquet aliquam donec molestie congue donec ligula penatibus. Turpis Curae; per. Convallis natoque neque in senectus vivamus, cursus. Mattis at adipiscing sociis orci. Tempor litora. Penatibus
                                        venenatis. Magna sociosqu elit nascetur congue interdum venenatis sociis, et mattis fames id.</p>
                                    <p>Mauris vulputate. Ultrices at enim litora integer lacinia integer dolor purus Massa nonummy cubilia hymenaeos faucibus purus condimentum praesent natoque hac cubilia, bibendum vitae nisl.</p>
                                    <ul class="list-style-tick">
                                        <li>Only pay when you publish</li>
                                        <li>Full featured event app</li>
                                        <li>Unlimited featured use</li>
                                        <li>24/7 supports</li>
                                        <li>Event analytics</li>
                                    </ul>
                                </div>
                                <div class="tab-pane p-5 fade" id="support">
                                    <p>Dapibus quam vestibulum dolor aliquet aliquam donec molestie congue donec ligula penatibus. Turpis Curae; per. Convallis natoque neque in senectus vivamus, cursus. Mattis at adipiscing sociis orci. Tempor litora. Penatibus
                                        venenatis. Magna sociosqu elit nascetur congue interdum venenatis sociis, et mattis fames id.</p>
                                    <p>Mauris vulputate. Ultrices at enim litora integer lacinia integer dolor purus Massa nonummy cubilia hymenaeos faucibus purus condimentum praesent natoque hac cubilia, bibendum vitae nisl.</p>
                                    <ul class="list-style-tick">
                                        <li>Only pay when you publish</li>
                                        <li>Full featured event app</li>
                                        <li>Unlimited featured use</li>
                                        <li>24/7 supports</li>
                                        <li>Event analytics</li>
                                    </ul>
                                </div>
                                <div class="tab-pane p-5 fade" id="remote">
                                    <p>Dapibus quam vestibulum dolor aliquet aliquam donec molestie congue donec ligula penatibus. Turpis Curae; per. Convallis natoque neque in senectus vivamus, cursus. Mattis at adipiscing sociis orci. Tempor litora. Penatibus
                                        venenatis. Magna sociosqu elit nascetur congue interdum venenatis sociis, et mattis fames id.</p>
                                    <p>Mauris vulputate. Ultrices at enim litora integer lacinia integer dolor purus Massa nonummy cubilia hymenaeos faucibus purus condimentum praesent natoque hac cubilia, bibendum vitae nisl.</p>
                                    <ul class="list-style-tick">
                                        <li>Only pay when you publish</li>
                                        <li>Full featured event app</li>
                                        <li>Unlimited featured use</li>
                                        <li>24/7 supports</li>
                                        <li>Event analytics</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Important Service Section End -->

        <!-- Question & Answer Section Start -->
        <div class="full-row sm-bg-img-none my-lg-5 pb-0" style="background: url(assets/images/shape/10.png) no-repeat top center/28%;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <form class="question-form py-5 px-sm-5 px-4">
                            <div class="form-group">
                                <span class="d-block text-secondary mb-4 text-uppercase">Question</span>
                                <input type="text" class="border-bottom form-control bg-transparent rounded-0 text-secondary pl-0" placeholder="What is your question?">
                            </div>
                            <div class="form-group">
                                <span class="d-block text-secondary mb-4 text-uppercase">Email</span>
                                <input type="text" class="border-bottom form-control bg-transparent rounded-0 text-secondary pl-0" placeholder="Provide active email address">
                            </div>
                            <div class="form-group">
                                <input class="d-none" type="checkbox" value="" id="defaultCheck1">
                                <label for="defaultCheck1" class="checkbox">Yes I accept the terms and conditions</label>
                            </div>
                            <div class="form-group mt-4">
                                <input type="submit" class="btn btn-primary rounded text-white rounded-0" value="Submit Request">
                            </div>
                            <p>Nibh lectus ante purus vulputate a congue semper imperdiet. <a href="#" class="text-primary">Senectus non.</a> Vulputate taciti torquent fermentum diam tempus tempor mus praesent quis mauris parturient convallis euismod et.</p>
                        </form>
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                        <h2 class="text-secondary mb-4" style="margin-top:120px">TOTAL CONTROL FROM ANY WHERE IN THE WORLD</h2>
                        <span class="sub-title mb-5">Fermentum. Turpis varius nisl dui. Auctor nonummy fermentum. Nonummy. Est potenti sit curae; rhoncus id, urna. Hendrerit primis duis litora. Massa a. Penatibus viverra vestibulum quis a. Malesuada. Mauris hymenaeos.</span>
                        <div class="answer position-relative z-index-9">
                            <div class="bg-secondary p-4">
                                <div class="position-relative z-index-9" style="background: url(assets/images/shape/11.png) no-repeat top center / contain;">
                                    <div class="owl-carousel single-carousel nav-disable">
                                        <div class="item pb-5">
                                            <h5 class="text-white mb-4 font-weight-semibold">Q: How to make my payment right way?</h5>
                                            <div class="text-gray">
                                                <p>Parturient dictumst parturient class aptent tellus accumsan penatibus nam a, tristique, conubia ac neque arcu nisl consequat quis gravida mollis non mollis orci vitae scelerisque iaculis. Dui a ipsum torquent
                                                    nostra nisl. Gravida nonummy feugiat vehicula arcu enim nullam cras per id. Molestie non molestie facilisi inceptos.</p>
                                                <p>Lacinia, maecenas cursus imperdiet urna pulvinar. Scelerisque. Condimentum. Nec a tellus imperdiet senectus proin dolor, porta hymenaeos rhoncus nullam nam sodales. Ante consequat.</p>
                                            </div>
                                        </div>
                                        <div class="item pb-5">
                                            <h5 class="text-white mb-4 font-weight-semibold">Q: How to make my payment right way?</h5>
                                            <div class="text-gray">
                                                <p>Parturient dictumst parturient class aptent tellus accumsan penatibus nam a, tristique, conubia ac neque arcu nisl consequat quis gravida mollis non mollis orci vitae scelerisque iaculis. Dui a ipsum torquent
                                                    nostra nisl. Gravida nonummy feugiat vehicula arcu enim nullam cras per id. Molestie non molestie facilisi inceptos.</p>
                                                <p>Lacinia, maecenas cursus imperdiet urna pulvinar. Scelerisque. Condimentum. Nec a tellus imperdiet senectus proin dolor, porta hymenaeos rhoncus nullam nam sodales. Ante consequat.</p>
                                            </div>
                                        </div>
                                        <div class="item pb-5">
                                            <h5 class="text-white mb-4 font-weight-semibold">Q: How to make my payment right way?</h5>
                                            <div class="text-gray">
                                                <p>Parturient dictumst parturient class aptent tellus accumsan penatibus nam a, tristique, conubia ac neque arcu nisl consequat quis gravida mollis non mollis orci vitae scelerisque iaculis. Dui a ipsum torquent
                                                    nostra nisl. Gravida nonummy feugiat vehicula arcu enim nullam cras per id. Molestie non molestie facilisi inceptos.</p>
                                                <p>Lacinia, maecenas cursus imperdiet urna pulvinar. Scelerisque. Condimentum. Nec a tellus imperdiet senectus proin dolor, porta hymenaeos rhoncus nullam nam sodales. Ante consequat.</p>
                                            </div>
                                        </div>
                                        <div class="item pb-5">
                                            <h5 class="text-white mb-4 font-weight-semibold">Q: How to make my payment right way?</h5>
                                            <div class="text-gray">
                                                <p>Parturient dictumst parturient class aptent tellus accumsan penatibus nam a, tristique, conubia ac neque arcu nisl consequat quis gravida mollis non mollis orci vitae scelerisque iaculis. Dui a ipsum torquent
                                                    nostra nisl. Gravida nonummy feugiat vehicula arcu enim nullam cras per id. Molestie non molestie facilisi inceptos.</p>
                                                <p>Lacinia, maecenas cursus imperdiet urna pulvinar. Scelerisque. Condimentum. Nec a tellus imperdiet senectus proin dolor, porta hymenaeos rhoncus nullam nam sodales. Ante consequat.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Question & Answer Section End -->

        <!-- Security Product Section Start -->
        <div class="full-row bg-gray sm-mt-0" style="margin-top: -150px">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mb-5">
                        <span class="title-tag font-medium text-primary">Recently Release</span>
                        <h2 class="text-secondary mb-4">Security Product</h2>
                        <span class="sub-title text-general">Mollis consequat taciti nullam hac mattis, molestie sociis sodales aliquam penatibus tincidunt. Ridiculus. Magnis, aliquam ad vestibulum ac pellentesque inceptos sem.</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="owl-carousel 4block-carousel dot-disable nav-twice-middle position-relative">
                            <div class="product-item hover-img-zoom transation">
                                <div class="product-img overflow-hidden bg-white">
                                    <a href="#" class="product-link">
                                        <img src="assets/images/product/1.png" alt="image not found!">
                                    </a>
                                    <div class="love-like d-flex justify-content-center align-items-center">
                                        <a href="#" class="woo-wishlist"><span class="flaticon-like-1 flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-shopping-bag flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-search flat-mini"></span></a>
                                    </div>
                                </div>
                                <div class="content pt-3 px-3 text-center">
                                    <h6 class="font-weight-medium title font-twenty"><a href="#" class="text-secondary hover-text-primary">Aluminum Home Security Camera</a></h6>
                                    <span class="d-block mt-3 mb-0 h6 font-weight-medium text-primary">$25.00</span>
                                </div>
                            </div>
                            <div class="product-item hover-img-zoom transation">
                                <div class="product-img overflow-hidden bg-white">
                                    <a href="#" class="product-link">
                                        <img src="assets/images/product/2.png" alt="image not found!">
                                    </a>
                                    <div class="love-like d-flex justify-content-center align-items-center">
                                        <a href="#" class="woo-wishlist"><span class="flaticon-like-1 flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-shopping-bag flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-search flat-mini"></span></a>
                                    </div>
                                </div>
                                <div class="content pt-3 px-3 text-center">
                                    <h6 class="font-weight-medium title font-twenty"><a href="#" class="text-secondary hover-text-primary">Digital Safety Door Lock</a></h6>
                                    <span class="d-block mt-3 mb-0 h6 font-weight-medium text-primary">$32.00</span>
                                </div>
                            </div>
                            <div class="product-item hover-img-zoom transation">
                                <div class="product-img overflow-hidden bg-white">
                                    <a href="#" class="product-link">
                                        <img src="assets/images/product/3.png" alt="image not found!">
                                    </a>
                                    <div class="love-like d-flex justify-content-center align-items-center">
                                        <a href="#" class="woo-wishlist"><span class="flaticon-like-1 flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-shopping-bag flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-search flat-mini"></span></a>
                                    </div>
                                </div>
                                <div class="content pt-3 px-3 text-center">
                                    <h6 class="font-weight-medium title font-twenty"><a href="#" class="text-secondary hover-text-primary">Audio-Recording Night WebCam</a></h6>
                                    <span class="d-block mt-3 mb-0 h6 font-weight-medium text-primary">$18.00</span>
                                </div>
                            </div>
                            <div class="product-item hover-img-zoom transation">
                                <div class="product-img overflow-hidden bg-white">
                                    <a href="#" class="product-link">
                                        <img src="assets/images/product/4.png" alt="image not found!">
                                    </a>
                                    <div class="love-like d-flex justify-content-center align-items-center">
                                        <a href="#" class="woo-wishlist"><span class="flaticon-like-1 flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-shopping-bag flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-search flat-mini"></span></a>
                                    </div>
                                </div>
                                <div class="content pt-3 px-3 text-center">
                                    <h6 class="font-weight-medium title font-twenty"><a href="#" class="text-secondary hover-text-primary">Announces Alpha Security Drone</a></h6>
                                    <span class="d-block mt-3 mb-0 h6 font-weight-medium text-primary">$25.00</span>
                                </div>
                            </div>
                            <div class="product-item hover-img-zoom transation">
                                <div class="product-img overflow-hidden bg-white">
                                    <a href="#" class="product-link">
                                        <img src="assets/images/product/1.png" alt="image not found!">
                                    </a>
                                    <div class="love-like d-flex justify-content-center align-items-center">
                                        <a href="#" class="woo-wishlist"><span class="flaticon-like-1 flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-shopping-bag flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-search flat-mini"></span></a>
                                    </div>
                                </div>
                                <div class="content pt-3 px-3 text-center">
                                    <h6 class="font-weight-medium title font-twenty"><a href="#" class="text-secondary hover-text-primary">Aluminum Housing Home Security Camera</a></h6>
                                    <span class="d-block mt-3 mb-0 h6 font-weight-medium text-primary">$25.00</span>
                                </div>
                            </div>
                            <div class="product-item hover-img-zoom transation">
                                <div class="product-img overflow-hidden bg-white">
                                    <a href="#" class="product-link">
                                        <img src="assets/images/product/2.png" alt="image not found!">
                                    </a>
                                    <div class="love-like d-flex justify-content-center align-items-center">
                                        <a href="#" class="woo-wishlist"><span class="flaticon-like-1 flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-shopping-bag flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-search flat-mini"></span></a>
                                    </div>
                                </div>
                                <div class="content pt-3 px-3 text-center">
                                    <h6 class="font-weight-medium title font-twenty"><a href="#" class="text-secondary hover-text-primary">Digital Safety Door Lock</a></h6>
                                    <span class="d-block mt-3 mb-0 h6 font-weight-medium text-primary">$32.00</span>
                                </div>
                            </div>
                            <div class="product-item hover-img-zoom transation">
                                <div class="product-img overflow-hidden bg-white">
                                    <a href="#" class="product-link">
                                        <img src="assets/images/product/3.png" alt="image not found!">
                                    </a>
                                    <div class="love-like d-flex justify-content-center align-items-center">
                                        <a href="#" class="woo-wishlist"><span class="flaticon-like-1 flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-shopping-bag flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-search flat-mini"></span></a>
                                    </div>
                                </div>
                                <div class="content pt-3 px-3 text-center">
                                    <h6 class="font-weight-medium title font-twenty"><a href="#" class="text-secondary hover-text-primary">Wireless Audio-Recording Night WebCam</a></h6>
                                    <span class="d-block mt-3 mb-0 h6 font-weight-medium text-primary">$18.00</span>
                                </div>
                            </div>
                            <div class="product-item hover-img-zoom transation">
                                <div class="product-img overflow-hidden bg-white">
                                    <a href="#" class="product-link">
                                        <img src="assets/images/product/4.png" alt="image not found!">
                                    </a>
                                    <div class="love-like d-flex justify-content-center align-items-center">
                                        <a href="#" class="woo-wishlist"><span class="flaticon-like-1 flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-shopping-bag flat-mini"></span></a>
                                        <a href="#" class="woo-wishlist"><span class="flaticon-search flat-mini"></span></a>
                                    </div>
                                </div>
                                <div class="content pt-3 px-3 text-center">
                                    <h6 class="font-weight-medium title font-twenty"><a href="#" class="text-secondary hover-text-primary">Galileo Announces Alpha Security Drone</a></h6>
                                    <span class="d-block mt-3 mb-0 h6 font-weight-medium text-primary">$25.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Security Product Section End -->

        <!-- Control System Section Start -->
        <div class="full-row sm-m-0" style="padding-top: 100px; margin-bottom: 100px;">
            <div class="container">
                <div class="row mb-5 mb-md-0">
                    <div class="col-lg-5 offset-lg-4 col-xl-4 offset-xl-5 col-sm-6 offset-sm-2 mb-4 mb-sm-0">
                        <div class="achievemint-item position-relative d-table">
                            <div class="font-200 higlight-font font-weight-bold text-primary">20K</div>
                            <span class="h6 text-uppercase d-ruby position-absolute">People Happy</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xl-3 col-sm-4">
                        <div class="achievemint-item position-relative d-table">
                            <div class="font-200 higlight-font font-weight-bold text-primary">10</div>
                            <span class="h6 text-uppercase d-ruby position-absolute">Award Win</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 mt-5">
                        <img src="assets/images/thumb/11.png" class="position-absolute control-room d-none d-lg-block" alt="">
                        <div class="overlay-secondary p-5">
                            <div class="position-relative z-index-9 text-white">
                                <h4 class="text-white text-uppercase mb-4">Control Rooms</h4>
                                <p>Dictumst aenean faucibus habitant bibendum primis ultricies vitae placerat lobortis fringilla integer praesent. Hymenaeos, platea habitant potenti sodales pulvinar auctor parturient Augue elit sagittis cursus aliquam platea
                                    quis molestie justo semper ridiculus hymenaeos enim.</p>
                                <a href="#" class="underline text-white mt-5 text-uppercase d-table">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-3 sm-mt-30" style="margin-top: 100px">
                        <img src="assets/images/thumb/12.png" class="position-absolute system-setup d-none d-lg-block" alt="">
                        <div class="overlay-primary p-5">
                            <div class="position-relative z-index-9 text-white">
                                <h4 class="text-white text-uppercase mb-4">System Setup</h4>
                                <p>Aptent nulla hymenaeos dis nascetur sem faucibus senectus velit convallis libero nam vehicula parturient rhoncus donec. Scelerisque ac aliquet neque curae;, facilisi. Ante Pulvinar vivamus odio leo ad. Feugiat per sodales
                                    tristique nisl augue lacus pellentesque pulvinar, taciti imperdiet mauris.</p>
                                <a href="#" class="underline text-white mt-5 text-uppercase d-table">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Control System Section End -->

        <!-- Newslatter Section Start -->
        <div class="full-row bg-primary py-5">
            <div class="container">
                <div class="subscribe-banner">
                    <div class="row">
                        <div class="col-lg-4">
                            <h3 class="mb-0 text-white position-relative y-center">Newslatter Subscribe</h3>
                        </div>
                        <div class="col-lg-8">
                            <div class="py-3 float-right w-100">
                                <form action="#" method="post">
                                    <div class="form-row newslatter">
                                        <div class="col-sm-8 mb-4 mb-sm-0">
                                            <input type="email" name="email" class="pl-0 white-placeholder form-control bg-transparent border-bottom rounded-0 mb-0" placeholder="Enter Your Email">
                                        </div>
                                        <div class="col-sm-3 ml-auto">
                                            <button class="btn btn-secondary rounded-0 text-white float-right w-100" name="subscribe">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newslatter Section End -->

        <!-- Footer Section Start -->
        <footer class="full-row bg-footer footer-default-dark" style="padding-bottom: 30px;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="footer-widget contact-widget mb-5">
                            <div class="footer-logo mb-4">
                                <img src="assets/images/logo/4.png" alt="Image not found!">
                            </div>
                        </div>
                        <div class="footer-widget media-widget mb-5">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="footer-widget contact-widget mb-5">
                            <h4 class="widget-title mb-4">Contact Info</h4>
                            <ul>
                                <li>Collins Street West, Victoria 8007, Australia</li>
                                <li>Phone: 902-000-99999</li>
                                <li>Email: support@owehbureau.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-2 col-md-6">
                        <div class="footer-widget widget-nav mb-5">
                            <h4 class="widget-title mb-4">Page Links</h4>
                            <ul>
                                <li><a href="#">About Company</a></li>
                                <li><a href="#">Terms and Conditions</a></li>
                                <li><a href="#">Consultation</a></li>
                                <li><a href="#">How It Work</a></li>
                                <li><a href="#">Emeargency Support</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="footer-widget appointment-widget mb-4">
                            <h4 class="widget-title mb-4">Appointment</h4>
                            <p>Morbi risus velit nulla lorem et malesuada. Magnis, vel faucibus risus fusce sit senectus mus.</p>
                            <a href="#" class="btn btn-primary rounded-0 text-white d-block mt-4">Make An Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="bg-footer py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span> 2020 All Rights Reserved Owehbureau</span>
                    </div>
                    <div class="col-md-6">
                        <ul class="line-menu float-md-right list-color-general">
                            <li class="float-left"><a href="#">Privacy Policy </a></li>
                            <li class="float-left">|</li>
                            <li class="float-left"><a href="#">Terms and Condition</a></li>
                            <li class="float-left">|</li>
                            <li class="float-left"><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Section End -->

        <!-- Scroll to top -->
        <a href="#" class="bg-primary text-white" id="scroll"><i class="fa fa-angle-up"></i></a>
        <!-- End Scroll To top -->
    </div>
    <!-- Page Wrapper End -->

    <!--===============================================================================================-->
    <!-- All Javascript Plugin File here -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/greensock.js"></script>
    <script src="assets/js/layerslider.transitions.js"></script>
    <script src="assets/js/layerslider.kreaturamedia.jquery.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.fancybox.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/paraxify.js"></script>
    <script src="assets/js/mixitup.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <!-- Initializing the slider -->
    <script>
        $(document).ready(function() {
            $('#slider').layerSlider({
                sliderVersion: '6.0.0',
                type: 'fullwidth',
                responsiveUnder: 1200,
                hideUnder: 0,
                hideOver: 100000,
                skin: 'v5',
                navPrevNext: false,
                navStartStop: false,
                skinsPath: 'assets/skins/',
                height: 850
            });
        });
    </script>

</body>

</html>