<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Owehbureau - Security Agency  and CCTV System">
    <meta name="author" content="unicoder">
    <title>Owehbureau - Security and Profiling Agency </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.png">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Kreon:400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap&subset=latin-ext,vietnamese" rel="stylesheet">

    <!--  CSS Style -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/webfonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/layerslider.css">
    <link rel="stylesheet" href="assets/css/template.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/category/category-one.css">

</head>

<body>

    <div class="purchase-btn-envato">
        <a href="https://themeforest.net/item/bluebird-multipurpose-html-template/24782709" data-toggle="tooltip" data-placement="right" title="Purchase BlueBird"><img src="assets/images/envato.png" alt="image not found"></a>
        <div class="spinner xy-center">
            <div class="double-bounce1" style="background-color: #7bb441;"></div>
            <div class="double-bounce2" style="background-color: #7bb441;"></div>
        </div>
    </div>

    <div class="follow-vertical position-fixed text-general left">
        <span>Follow Us:</span>
        <a class="text-general" href="#">Fb.</a>/<a class="text-general" href="#">In.</a>/<a class="text-general" href="#">Tw.</a>
    </div>

    <div id="page_wrapper">
        <!-- Header Section Start -->
        <header class="transparent-header nav-on-banner">
            <div class="main-nav">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="navbar navbar-expand-lg nav-white nav-primary-hover nav-line-active py-2">
                                <a class="navbar-brand" href="#"><img class="nav-logo" src="assets/images/logo/1.png" alt="Image not found !"></a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon flaticon-menu flat-small text-primary"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#">Home</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="index.html">Landing Page</a></li>
                                                <li><a class="dropdown-item" href="index-security.html">Security</a></li>
                                                <li><a class="dropdown-item" href="index-agency.html">Agency Security</a></li>
                                                <li><a class="dropdown-item" href="index-cctv-system.html">CCTV Security</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="about.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="about.html">About</a></li>
                                                <li><a class="dropdown-item" href="about-2.html">About2</a></li>
                                                <li><a class="dropdown-item" href="our-history.html">Our History</a></li>
                                                <li><a class="dropdown-item" href="our-mission.html">Our Mission</a></li>
                                                <li><a class="dropdown-item" href="our-vision.html">Our Vision</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="service.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Service</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="service.html">Service</a></li>
                                                <li><a class="dropdown-item" href="service-details.html">Service Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="pricing.html">Pricing</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="pricing.html">Pricing</a></li>
                                                        <li><a class="dropdown-item" href="pricing-extend.html">Pricing Extend</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="career.html">Career</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="career.html">Career</a></li>
                                                        <li><a class="dropdown-item" href="application.html">Application</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="team.html">Team</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="team.html">Team Member</a></li>
                                                        <li><a class="dropdown-item" href="profile-details.html">Member Profile</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="certification.html">Certificate</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="certification.html">Certification</a></li>
                                                        <li><a class="dropdown-item" href="certification-detail.html">Certification Details</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="general-support.html">Help and Support</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="how-it-work.html">How It Work</a></li>
                                                        <li><a class="dropdown-item" href="general-support.html">General Support</a></li>
                                                        <li><a class="dropdown-item" href="help-center.html">Help Center</a></li>
                                                        <li><a class="dropdown-item" href="support-article-details.html">Support Article</a></li>
                                                        <li><a class="dropdown-item" href="terms-and-condition.html">Terms & Condition</a></li>
                                                    </ul>
                                                </li>
                                                <li><a class="dropdown-item" href="testimonial.html">Testimonial</a></li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="gallery.html">Gallery</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="gallery.html">Gallery default</a></li>
                                                        <li><a class="dropdown-item" href="gallery-fullwidth.html">Gallery fullwidth</a></li>
                                                        <li><a class="dropdown-item" href="gallery-masonry.html">Gallery masonry</a></li>
                                                        <li><a class="dropdown-item" href="gallery-detail.html">Gallery Details</a></li>
                                                    </ul>
                                                </li>
                                                <li><a class="dropdown-item" href="quote.html">Quote</a></li>
                                                <li><a class="dropdown-item" href="faq.html">Faq</a></li>
                                                <li><a class="dropdown-item" href="404.html">404 Page</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="shop.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="shop.html">Shop</a></li>
                                                <li><a class="dropdown-item" href="shop-list.html">Shop List</a></li>
                                                <li><a class="dropdown-item" href="shop-single.html">Shop Single</a></li>
                                                <li><a class="dropdown-item" href="sign-in.html">Sign In</a></li>
                                                <li><a class="dropdown-item" href="sign-up.html">Sign Up</a></li>
                                                <li><a class="dropdown-item" href="cart.html">Cart</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="blog.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="blog.html">Blog</a></li>
                                                <li><a class="dropdown-item" href="blog-fullwidth-box.html">Blog Full Box Width</a></li>
                                                <li><a class="dropdown-item" href="blog-fullwidth.html">Blog Full Width</a></li>
                                                <li><a class="dropdown-item" href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                                <li><a class="dropdown-item" href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                                <li><a class="dropdown-item" href="blog-details.html">Blog Details Right</a></li>
                                                <li><a class="dropdown-item" href="blog-details-left-sidebar.html">Blog Details Left</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="contact.html">Contact</a>
                                        </li>
                                    </ul>
                                    <a href="https://themeforest.net/item/owehbureau-security-agency-and-cctv-system-html-template/27091252" class="ml-2 btn btn-primary text-white sm-mx-none rounded" style="background-color: #7bb441">Buy Now</a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header Section End -->

        <div class="full-row p-0 overflow-hidden bg-dark">
            <!-- Slider HTML markup -->
            <div id="slider" style="width:1400px; height:740px; margin:0 auto;margin-bottom: 0px;">
                <!-- Slide 1-->
                <div class="ls-slide" data-ls="bgsize:cover; kenburnsscale:1.2; parallaxtype:3d; parallaxevent:scroll; parallaxdurationmove:500; parallaxdistance:12; parallaxrotate:3;">
                    <img width="1920" height="1417" src="assets/images/background/oh_bg-min.png" class="ls-bg" alt="" />

                    <img width="75" height="75" src="assets/images/owehbureau-icon.png" class="ls-l" alt="" style="top:280px; left:50%; text-align:initial; font-weight:400; font-style:normal; text-decoration:none;" data-ls="showinfo:1; offsetyin:30; durationin:1400; easingin:easeOutQuint; loop:true; loopoffsety:-5; loopduration:3000; loopeasing:easeInOutQuad; loopcount:-1; loopyoyo:true; parallax">

                    <p style="top:54%; left:50%; text-align:center; font-weight:700; font-style:normal; text-decoration:none; font-size:40px; line-height:60px; color:#fff;" class="ls-l higlight-font" data-ls="showinfo:1; offsetyin:60; durationin:1400; easingin:easeOutQuint;">Security and Profiling Agency 

                    <p style="top:67%; left:50%; text-align:initial; font-weight:300; font-style:normal; text-decoration:none; opacity:0.6; font-size:18px; line-height:30px; color:#ffffff;" class="ls-l higlight-font" data-ls="showinfo:1; offsetyin:90; durationin:1200; delayin:200; easingin:easeOutQuint;">Get's Unlimited Advance Features</p>

                    <div style=" top:90%; left:50%; height:44px; width:26px; border-top:2px solid white; border-right:2px solid white; border-bottom:2px solid white; border-left:2px solid white; border-radius:15px;" class="ls-l ls-mouse ls-hide-phone" data-ls="offsetyin:40; delayin:1000; offsetxout:-80; durationout:400; parallaxlevel:0; position:fixed;"></div>

                    <div style="-webkit-backface-visibility: hidden; backface-visibility: hidden; margin-top:-11px;top:90%; left:50%; border-top:2px solid white; border-bottom:2px solid white; border-radius:15px; width:4px; background:#ffffff; height:4px;" class="ls-l ls-mouse ls-hide-phone"
                        data-ls="offsetyin:40; delayin:1000; offsetxout:-80; durationout:400; loop:true; loopoffsety:4; loopduration:600; loopeasing:easeInOutSine; looprotatex:60; looptransformorigin:50% 50% 5px; loopcount:-1; loopyoyo:true; parallaxlevel:0; rotationX:-30; position:fixed;"></div>

                    <a class="ls-l" href="sliderbottom" target="ls-scroll" data-ls="offsetyin:40; delayin:1000; offsetxout:-80; durationout:400; parallaxlevel:0; position:fixed;">
                        <p style="font-weight: normal;padding-top:50px; font-family:Montserrat; font-size:10px; color:#ffffff; top:91%; left:50%;" class=" ls-hide-phone">SCROLL</p>
                    </a>
                </div>
            </div>
        </div>

        <div id="all-demo" class="full-row bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <span class="w-50 d-table ordenery-font mx-auto text-center sub-title w-sm-100 font-medium">A great collection of beautiful website templates for your website. Choose the best suitable template and start customizing it.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="full-row bg-light" style="background-image: url(assets/images/background/oh_bg-min.png);">
            <div class="container">
                <div class="col-lg-12 mb-5">
                    <h1 class="text-center mx-auto w-50 mb-4 w-sm-100 text-secondary">Professional Security and Corporate Demos</h1>
                    <div class="text-center mx-auto w-75 pb-5 w-sm-100">
                        <ul class="list-bullate mx-auto d-inline-flex list-color-secondary">
                            <li class="px-4">Lifetime Support</li>
                            <li class="px-4">Easy Customize</li>
                            <li class="px-4">Free Update</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="multi-demo row px-0">
                            <li>
                                <a target="_blank" href="index-security.html" class="demo-example shadow-sm transation">
                                    <img src="assets/images/demo/1.png" alt="Image not found!">
                                    <span>Security Default</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="index-agency.html" class="demo-example shadow-sm transation">
                                    <img src="assets/images/demo/2.png" alt="Image not found!">
                                    <span>Security Agency</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="index-cctv-system.html" class="demo-example shadow-sm transation">
                                    <img src="assets/images/demo/3.png" alt="Image not found!">
                                    <span>CCTV System</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--============== Inner pages demos section start ==============-->
        <div class="full-row">
            <div class="container">
                <div class="col-lg-12 mb-5">
                    <span class="text-center font-medium d-table mx-auto mb-2 w-sm-100">Important Inner Pages</span>
                    <h1 class="text-center text-secondary mx-auto w-50 mb-4 w-sm-100">Professional and Important Default Inner Pages</h1>
                    <span class="w-75 d-table mx-auto font-medium text-center mb-5">Perton specially create for security service company but using it's feature and inner pages we make the multiple category business template.</span>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="multi-demo row">
                            <li>
                                <a target="_blank" href="about-2.html" class="demo-example shadow transation">
                                    <img src="assets/images/demo/inner/about-2.png" alt="Image not found!">
                                    <span>About Two Page</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="our-history.html" class="demo-example shadow transation">
                                    <img src="assets/images/demo/inner/our-history.png" alt="Image not found!">
                                    <span>Our History Page</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="service.html" class="demo-example shadow transation">
                                    <img src="assets/images/demo/inner/services.png" alt="Image not found!">
                                    <span>Services Page</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="service-details.html" class="demo-example shadow transation">
                                    <img src="assets/images/demo/inner/service-details.png" alt="Image not found!">
                                    <span>Service Details</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="faq.html" class="demo-example shadow transation">
                                    <img src="assets/images/demo/inner/faq.png" alt="Image not found!">
                                    <span>FAQ Page</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="testimonial.html" class="demo-example shadow transation">
                                    <img src="assets/images/demo/inner/testimonial.png" alt="Image not found!">
                                    <span>Testimonial Page</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="certification.html" class="demo-example shadow transation">
                                    <img src="assets/images/demo/inner/certification.png" alt="Image not found!">
                                    <span>Certification Page</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="career.html" class="demo-example shadow transation">
                                    <img src="assets/images/demo/inner/career.png" alt="Image not found!">
                                    <span>Career Page</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="general-support.html" class="demo-example shadow transation">
                                    <img src="assets/images/demo/inner/general-support.png" alt="Image not found!">
                                    <span>General Support Page</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="support-article-details.html" class="demo-example shadow transation">
                                    <img src="assets/images/demo/inner/support-article-details.png" alt="Image not found!">
                                    <span>Support Article Details Page</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="pricing.html" class="demo-example shadow transation">
                                    <img src="assets/images/demo/inner/pricing.png" alt="Image not found!">
                                    <span>Pricing Page</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="pricing-extend.html" class="demo-example shadow transation">
                                    <img src="assets/images/demo/inner/pricing-extend.png" alt="Image not found!">
                                    <span>Pricing Extend Page</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="team.html" class="demo-example shadow transation">
                                    <img src="assets/images/demo/inner/team.png" alt="Image not found!">
                                    <span>Team Page</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="gallery.html" class="demo-example shadow transation">
                                    <img src="assets/images/demo/inner/gallery.png" alt="Image not found!">
                                    <span>Gallery Page</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="gallery-masonry.html" class="demo-example shadow transation">
                                    <img src="assets/images/demo/inner/gallery-masonry.png" alt="Image not found!">
                                    <span>Gallery Masonry Page</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="shop.html" class="demo-example shadow transation">
                                    <img src="assets/images/demo/inner/shop.png" alt="Image not found!">
                                    <span>Shop Page</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="shop-single.html" class="demo-example shadow transation">
                                    <img src="assets/images/demo/inner/shop-single.png" alt="Image not found!">
                                    <span>Shop Single Page</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="blog.html" class="demo-example shadow transation">
                                    <img src="assets/images/demo/inner/blog.png" alt="Image not found!">
                                    <span>Blog Page</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="blog-details-left-sidebar.html" class="demo-example shadow transation">
                                    <img src="assets/images/demo/inner/blog-details.png" alt="Image not found!">
                                    <span>Blog Details Page</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="contact.html" class="demo-example shadow transation">
                                    <img src="assets/images/demo/inner/contact.png" alt="Image not found!">
                                    <span>Contact Page</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="404.html" class="demo-example shadow transation">
                                    <img src="assets/images/demo/inner/404.png" alt="Image not found!">
                                    <span>Error Page</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Inner pages demos section end ==============-->

        <div class="full-row bg-primary py-5 overflow-hidden">
            <div class="container">
                <div class="row">
                    <h3 class="m-0 text-center text-dark font-weight-normal mx-auto">Create your custom website by copy past <span class="underline">Owehbureau</span> source</h3>
                </div>
            </div>
        </div>

        <div class="full-row bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <span class="text-primary pb-2 d-table mx-auto tagline">Features</span>
                        <h2 class="down-line w-75 w-sm-100 mx-auto text-center mb-4">Why Choose Owehbureau</h2>
                        <span class="w-50 d-table mx-auto font-medium text-center mb-5 w-sm-100">Below you can see some of the various features that we built into Owehbureau HTML.</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 mb-30">
                        <div class="bg-white p-5 shadow-sm rounded h-100">
                            <h5 class="mb-3">Easy To Customize</h5>
                            <p>Owehbureau is very easy to customize. Becuase each section of this template are seperated. Element spacing and alingment has given by speprate class of bootstrap. All the features, section, element, class listed in documentation.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-30">
                        <div class="bg-white p-5 shadow-sm rounded h-100">
                            <h5 class="mb-3">Highly professional coding standard</h5>
                            <p>Well commented and structured, easy to understand and customizable code. It's a bootstrap standard template, so don't worry about mountain of coding and make your website slow loading.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-30">
                        <div class="bg-white p-5 shadow-sm rounded h-100">
                            <h5 class="mb-3">Lifetime Update</h5>
                            <p>Owehbureau is updated regularly with new exciting features and layouts. All future updates are included with your original purchase. Our approch to release new category and element each week.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-30">
                        <div class="bg-white p-5 shadow-sm rounded h-100">
                            <h5 class="mb-3">Modern and vibrant design</h5>
                            <p>Owehbureau is pixel perfect and fully responsive design as per latest web design trends. It's very simple design and each category perfectly match with it's goals. It's comes after lot's of customer research.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="full-row bg-light pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="text-secondary text-center mx-auto w-50 w-sm-100">Template Features</h4>
                        <span class="text-center mt-4 mb-5 d-block mx-auto w-50 w-sm-100">In the Beautiful Homex template you can get massive features for your website. So you can easily customize your website. And it's will very professional to look.</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="p-4 bg-white text-center mb-4">
                            <span class="d-table mx-auto mb-3" style="width: 80px"><img src="assets/images/icon/1.png" alt="real estate template"></span>
                            <h6 class="text-secondary mb-3"><a href="https://getbootstrap.com/">Bootstrap4</a></h6>
                            <p>Homex built using bootstrap4 grid system. It's a popular responsive page builder.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="p-4 bg-white text-center mb-4">
                            <span class="d-table mx-auto mb-3" style="width: 80px"><img src="assets/images/icon/2.png" alt="real estate template"></span>
                            <h6 class="text-secondary mb-3"><a href="https://layerslider.kreaturamedia.com/?platform=jquery">Layer Slider</a></h6>
                            <p>As a slider we use premium layer slider plugin, it's very easy to customize.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="p-4 bg-white text-center mb-4">
                            <span class="d-table mx-auto mb-3" style="width: 80px"><img src="assets/images/icon/3.png" alt="real estate template"></span>
                            <h6 class="text-secondary mb-3"><a href="https://www.flaticon.com/">Flaticon Use</a></h6>
                            <p>Lot's of icon you can create and use from flaticon. You can use any icon as font from here.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="p-4 bg-white text-center mb-4">
                            <span class="d-table mx-auto mb-3" style="width: 80px"><img src="assets/images/icon/4.png" alt="real estate template"></span>
                            <h6 class="text-secondary mb-3"><a href="https://fontawesome.com/">FontAwesome</a></h6>
                            <p>We also include font awesome icons. We added the latest version of fontawesome.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="p-4 bg-white text-center mb-4">
                            <span class="d-table mx-auto mb-3" style="width: 80px"><img src="assets/images/icon/5.png" alt="real estate template"></span>
                            <h6 class="text-secondary mb-3"><a href="https://www.w3schools.com/html/html5_intro.asp">HTML5</a></h6>
                            <p>Homex source code arrange using html5. Most of the part are use the HTML5 tags.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="p-4 bg-white text-center mb-4">
                            <span class="d-table mx-auto mb-3" style="width: 80px"><img src="assets/images/icon/6.png" alt="real estate template"></span>
                            <h6 class="text-secondary mb-3"><a href="https://jquery.com/">jQuery</a></h6>
                            <p>The a have a jQuery control settings and use all the latest version of plugin.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="p-4 bg-white text-center mb-4">
                            <span class="d-table mx-auto mb-3" style="width: 80px"><img src="assets/images/icon/7.png" alt="real estate template"></span>
                            <h6 class="text-secondary mb-3"><a href="https://validator.w3.org/">W3School Validate</a></h6>
                            <p>All the template has validate by w3schools. No code error and warning issues.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="p-4 bg-white text-center mb-4">
                            <span class="d-table mx-auto mb-3" style="width: 80px"><img src="assets/images/icon/8.png" alt="real estate template"></span>
                            <h6 class="text-secondary mb-3"><a href="https://developers.google.com/speed/pagespeed/insights/">Google Speed Test</a></h6>
                            <p>Good rank and score in google website speed test. It's impress to the client.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="p-4 bg-white text-center mb-4">
                            <span class="d-table mx-auto mb-3" style="width: 80px"><img src="assets/images/icon/9.png" alt="real estate template"></span>
                            <h6 class="text-secondary mb-3"><a href="https://search.google.com/test/mobile-friendly">Responsive</a></h6>
                            <p>The template is 100% responsive. It perfectly visible in large to small device.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="p-4 bg-white text-center mb-4">
                            <span class="d-table mx-auto mb-3" style="width: 80px"><img src="assets/images/icon/10.png" alt="real estate template"></span>
                            <h6 class="text-secondary mb-3"><a href="https://fonts.google.com/">Google Font</a></h6>
                            <p>As a font we use the google font. Top of the page there include the google font api.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="p-4 bg-white text-center mb-4">
                            <span class="d-table mx-auto mb-3" style="width: 80px"><img src="assets/images/icon/11.png" alt="real estate template"></span>
                            <h6 class="text-secondary mb-3">Well Documented</h6>
                            <p>Home is very well ducumented, complete instruction how to setup the template.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="p-4 bg-white text-center mb-4">
                            <span class="d-table mx-auto mb-3" style="width: 80px"><img src="assets/images/icon/12.png" alt="real estate template"></span>
                            <h6 class="text-secondary mb-3">SEO Friendly</h6>
                            <p>The template is very cool for SEO friendly. It's suitable for one page SEO.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Section Start -->
        <footer class="full-row bg-footer footer-default-dark" style="padding-bottom: 30px;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="footer-widget contact-widget mb-5">
                            <div class="footer-logo mb-4">
                                <img src="assets/images/logo/1.png" alt="Image not found!">
                            </div>
                        </div>
                        <div class="footer-widget media-widget mb-5">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="footer-widget contact-widget mb-5">
                            <h4 class="widget-title mb-4 font-weight-normal">Contact Info</h4>
                            <ul>
                                <li>Collins Street West, Victoria 8007, Australia</li>
                                <li>Phone: 902-000-99999</li>
                                <li>Email: support@owehbureau.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-2 col-md-6">
                        <div class="footer-widget widget-nav mb-5">
                            <h4 class="widget-title mb-4 font-weight-normal">Page Links</h4>
                            <ul>
                                <li><a href="#">About Company</a></li>
                                <li><a href="#">Terms and Conditions</a></li>
                                <li><a href="#">Consultation</a></li>
                                <li><a href="#">How It Work</a></li>
                                <li><a href="#">Emeargency Support</a></li>
                                <li><a href="#">FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="footer-widget appointment-widget mb-4">
                            <h4 class="widget-title mb-4 font-weight-normal">Appointment</h4>
                            <p>Morbi risus velit nulla lorem et malesuada. Magnis, vel faucibus risus fusce sit senectus mus.</p>
                            <a href="#" class="btn btn-primary d-block mt-4">Make An Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <div class="bg-footer py-3 w-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span>© 2020 All Rights Reserved Owehbureau</span>
                    </div>
                    <div class="col-md-6">
                        <ul class="line-menu float-md-right list-color-general">
                            <li class="float-left"><a href="#">Privacy Policy </a></li>
                            <li class="float-left">|</li>
                            <li class="float-left"><a href="#">Terms and Condition</a></li>
                            <li class="float-left">|</li>
                            <li class="float-left"><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Section End -->

        <!-- Scroll to top -->
        <a href="#" class="bg-primary text-white" id="scroll"><i class="fa fa-angle-up"></i></a>
        <!-- End Scroll To top -->
    </div>
    <!-- Page Wrapper End -->

    <!--===============================================================================================-->
    <!-- All Javascript Plugin File here -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/greensock.js"></script>
    <script src="assets/js/layerslider.transitions.js"></script>
    <script src="assets/js/layerslider.kreaturamedia.jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.fancybox.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/custom.js"></script>

    <script>
        $(document).ready(function() {
            $('#slider').layerSlider({
                sliderVersion: '6.2.2',
                type: 'fullwidth',
                maxRatio: 1,
                skin: 'v6',
                sliderFadeInDuration: 450,
                showCircleTimer: false,
                skinsPath: 'assets/skins/',
                height: 840
            });
        });
    </script>
</body>

</html>