<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Owehbureau - Security and Profiling Agency ">
    <meta name="author" content="unicoder">
    <title>Owehbureau - Security and Profiling Agency </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.png">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Kreon:400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap&subset=latin-ext,vietnamese" rel="stylesheet">

    <!--  CSS Style -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/webfonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/template.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/category/category-one.css">

</head>

<body>
    <div id="page_wrapper">
        <!-- Header Section Start -->
        <header class="transparent-header fixed-bg-secondary nav-on-banner">
			<div class="secondary-nav-leftside nav-leftpush-overlay sm-mx-none">
				<nav class="navbar navbar-expand-lg nav-general nav-secondary-hover nav-down-line-active">				
					<button type="button" class="push-nav-toggle y-center border-0">
						<span class="navbar-toggler-icon flaticon-menu flat-small text-primary"></span>
					</button>
					
					<div class="collapse navbar-collapse navbar-slide-push transation-this bg-white">
						<span class="slide-nav-close"><i class="flaticon-cancel flat-mini text-secondary"></i></span>
						<ul class="navbar-nav w-100">
						  <li class="nav-item"><a class="nav-link" href="#">Security System</a></li>
						  <li class="nav-item"><a class="nav-link" href="#">Company History</a></li>
						  <li class="nav-item"><a class="nav-link" href="#">Emergency Case</a></li>
						  <li class="nav-item"><a class="nav-link" href="#">Make Career</a></li>
						  <li class="nav-item"><a class="nav-link" href="#">Information System</a></li>
						  <li class="nav-item"><a class="nav-link" href="#">Consultation</a></li>
						  <li class="nav-item"><a class="nav-link" href="#">How It Work</a></li>
						</ul>
						<div class="mt-5 mb-3">
							<ul>
								<li class="mb-4">
									<strong class="font-mini text-light">PHONE:</strong><br>
									<span class="text-secondary">(+1) 000 991 8830, <br>(+800) 8001-8588</span>
								</li>
								<li class="mb-4">
									<strong class="font-mini text-light">EMAIL:</strong><br>
									<span class="text-secondary">Info@patron.com, <br>support@patron.com</span>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
            <div class="main-nav">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="navbar navbar-expand-lg nav-white nav-primary-hover nav-line-active py-2">
                                <a class="navbar-brand" style="margin-left:80px" href="#"><img class="nav-logo" src="assets/images/logo/1.png" alt="Image not found !"></a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon flaticon-menu flat-small text-primary"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav mx-auto">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#">Home</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="index.html">Landing Page</a></li>
                                                <li><a class="dropdown-item" href="index-security.html">Security</a></li>
												<li><a class="dropdown-item" href="index-agency.html">Agency Security</a></li>
												<li><a class="dropdown-item" href="index-cctv-system.html">CCTV Security</a></li>
                                            </ul>
                                        </li>
										<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="about.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                                            <ul class="dropdown-menu">
                                              <li><a class="dropdown-item" href="about.html">About</a></li>
                                              <li><a class="dropdown-item" href="about-2.html">About2</a></li>
                                              <li><a class="dropdown-item" href="our-history.html">Our History</a></li>
                                              <li><a class="dropdown-item" href="our-mission.html">Our Mission</a></li>
                                              <li><a class="dropdown-item" href="our-vision.html">Our Vision</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="service.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Service</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="service.html">Service</a></li>
                                                <li><a class="dropdown-item" href="service-details.html">Service Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                            <ul class="dropdown-menu">
                                              <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="pricing.html">Pricing</a>
                                                <ul class="dropdown-menu">
                                                  <li><a class="dropdown-item" href="pricing.html">Pricing</a></li>
                                                  <li><a class="dropdown-item" href="pricing-extend.html">Pricing Extend</a></li>
                                                </ul>
                                              </li>
                                              <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="career.html">Career</a>
                                                <ul class="dropdown-menu">
                                                  <li><a class="dropdown-item" href="career.html">Career</a></li>
                                                  <li><a class="dropdown-item" href="application.html">Application</a></li>
                                                </ul>
                                              </li>
                                              <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="team.html">Team</a>
                                                <ul class="dropdown-menu">
                                                  <li><a class="dropdown-item" href="team.html">Team Member</a></li>
                                                  <li><a class="dropdown-item" href="profile-details.html">Member Profile</a></li>
                                                </ul>
                                              </li>
                                              <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="certification.html">Certificate</a>
                                                <ul class="dropdown-menu">
                                                  <li><a class="dropdown-item" href="certification.html">Certification</a></li>
                                                  <li><a class="dropdown-item" href="certification-detail.html">Certification Details</a></li>
                                                </ul>
                                              </li>
                                              <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="general-support.html">Help and Support</a>
                                                <ul class="dropdown-menu">
                                                  <li><a class="dropdown-item" href="how-it-work.html">How It Work</a></li>
                                                  <li><a class="dropdown-item" href="general-support.html">General Support</a></li>
                                                  <li><a class="dropdown-item" href="help-center.html">Help Center</a></li>
                                                  <li><a class="dropdown-item" href="support-article-details.html">Support Article</a></li>
                                                  <li><a class="dropdown-item" href="terms-and-condition.html">Terms & Condition</a></li>
                                                </ul>
                                              </li>
                                              <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="gallery.html">Gallery</a>
                                                <ul class="dropdown-menu">
                                                  <li><a class="dropdown-item" href="gallery.html">Gallery default</a></li>
                                                  <li><a class="dropdown-item" href="gallery-fullwidth.html">Gallery fullwidth</a></li>
                                                  <li><a class="dropdown-item" href="gallery-masonry.html">Gallery masonry</a></li>
                                                  <li><a class="dropdown-item" href="gallery-detail.html">Gallery Details</a></li>
                                                </ul>
                                              </li>
											  <li><a class="dropdown-item" href="testimonial.html">Testimonial</a></li>
                                              <li><a class="dropdown-item" href="quote.html">Quote</a></li>
                                              <li><a class="dropdown-item" href="faq.html">Faq</a></li>
                                              <li><a class="dropdown-item" href="404.html">404 Page</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="shop.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="shop.html">Shop</a></li>
                                                <li><a class="dropdown-item" href="shop-list.html">Shop List</a></li>
                                                <li><a class="dropdown-item" href="shop-single.html">Shop Single</a></li>
                                                <li><a class="dropdown-item" href="sign-in.html">Sign In</a></li>
                                                <li><a class="dropdown-item" href="sign-up.html">Sign Up</a></li>
                                                <li><a class="dropdown-item" href="cart.html">Cart</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="blog.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog</a>
                                            <ul class="dropdown-menu">
                                              <li><a class="dropdown-item" href="blog.html">Blog</a></li>
                                              <li><a class="dropdown-item" href="blog-fullwidth-box.html">Blog Full Box Width</a></li>
                                              <li><a class="dropdown-item" href="blog-fullwidth.html">Blog Full Width</a></li>
                                              <li><a class="dropdown-item" href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                              <li><a class="dropdown-item" href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                              <li><a class="dropdown-item" href="blog-details.html">Blog Details Right</a></li>
                                              <li><a class="dropdown-item" href="blog-details-left-sidebar.html">Blog Details Left</a></li>
                                            </ul>
                                        </li>
										<li class="nav-item">
                                            <a class="nav-link" href="contact.html">Contact</a>
										</li>
                                    </ul>
                                </div>
								 <div class="ml-auto float-right navbar-nav nav-element pr-5">
									<div class="navbar-nav search-pop position-relative">
										<span class="flaticon-search flat-mini text-white"></span>
										<div class="search-form shadow-sm bg-white">
											<form action="#" method="post" class="position-relative">
											  <input class="form-control" type="search" placeholder="Search" aria-label="Search">
											  <button class="btn-search my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
											</form>
										</div>
									</div>
									<div class="navbar-nav my-account mx-4 position-relative">
										<a href="#" class="top-quantity text-white" title="Wishlist">
											<i class="flaticon-like-1 flat-mini text-white"></i>
										</a>
									</div>
									<div class="navbar-nav cart-view position-relative">
										<a href="#" class="top-quantity text-white">
											<i class="flaticon-shopping-bag flat-mini text-white"></i>
											<span class="text-dark">0</span>
										</a>
									</div>
								</div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
		<!-- Header Section End -->
		
		<!-- Breadcrumb Section Start -->
		<div class="page-banner overlay-secondary" style="background: url(assets/images/background/2.png) no-repeat center center;">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-7 py-8">
						<span class="banner-tagline d-table text-primary mb-2 font-large">Pricing Extend</span>
						<h1 class="banner-title text-white">We make strategies, design &amp; development to create valuable products.</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="pt-3">
			<div class="container">
				<div class="row">
					<div class="col">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb bg-transparent px-0">
							  <li class="breadcrumb-item"><a href="index-security.html" class="text-secondary">Home</a></li>
							  <li class="breadcrumb-item"><a href="#" class="text-secondary">Pages</a></li>
							  <li class="breadcrumb-item"><a href="pricing.html" class="text-secondary">Pricing</a></li>
							  <li class="breadcrumb-item text-primary active" aria-current="page">Pricing Extend</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumb Section End -->	

		<!-- Pricing Extend Section Start -->
		<div class="full-row pt-5">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<span class="text-primary pb-1 d-table m-auto tagline">Service</span>
						<h4 class="down-line w-50 mx-auto text-center w-sm-100 mb-4">Cost Customize</h4>
						<span class="d-table w-75 w-sm-100 font-medium mx-auto text-center mb-5 font-italic">Aliquam litora ad sociosqu turpis etiam tempus egestas nulla diam tempus mollis ante ornare consectetuer dictum sodales adipiscing ultricies Elit semper Integer felis lectus.</span>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<form method="post" action="#">
							<div class="row">
								<div class="form-group col-md-6">
									<select class="form-control bg-light">
										<option>Select Your Service</option>
										<option>Service-1</option>
										<option>Service-2</option>
										<option>Service-3</option>
									</select>
								</div>
								<div class="form-group col-md-6">
									<select class="form-control bg-light">
										<option>Select Your Security Type</option>
										<option>Security Type-1</option>
										<option>Security Type-2</option>
										<option>Security Type-3</option>
									</select>
								</div>
								<div class="col-md-12">
									<div class="service-measurement mb-4">
										<h4 class="mb-4">Increase or Decrease your Service</h4>
										<div class="row">
											<div class="col-md-6">
												<div class="single-select bg-light p-4 mb-4">
													<label>Change how many Security Guard you need.</label>
													<div class="range-slider">
														<input class="range-slider__range" type="range" value="25" min="0" max="100">
													<span class="range-slider__value">25</span> </div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="single-select bg-light p-4 mb-4">
													<label>Number of security camera</label>
													<div class="range-slider">
														<input class="range-slider__range" type="range" value="25" min="0" max="100">
													<span class="range-slider__value">25</span> </div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="single-select bg-light p-4 mb-4">
													<label>Guard with weapon.</label>
													<div class="range-slider">
														<input class="range-slider__range" type="range" value="25" min="0" max="100">
													<span class="range-slider__value">25</span> </div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="single-select bg-light p-4 mb-4">
													<label>Number of security door.</label>
													<div class="range-slider">
														<input class="range-slider__range" type="range" value="25" min="0" max="100">
													<span class="range-slider__value">25</span> </div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="single-select bg-light p-4 mb-4">
													<label>Number of dog squad.</label>
													<div class="range-slider">
														<input class="range-slider__range" type="range" value="25" min="0" max="100">
													<span class="range-slider__value">25</span> </div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="single-select bg-light p-4 mb-4">
													<label>Coverage area for security square feet.</label>
													<div class="range-slider">
														<input class="range-slider__range" type="range" value="25" min="0" max="100">
													<span class="range-slider__value">25</span> </div>
												</div>
											</div>
											<div class="col-md-4">
												<div class="single-select bg-light p-4 mb-4">
													<label>Select your apartment type</label>
													<div class="selcet-icon">
														<select name="select-apartment" class="select-service form-control">
															<option value="your-city">Choose...</option>
															<option value="Newyork">type-1</option>
															<option value="California">type-2</option>
															<option value="Texas">type-3</option>
															<option value="Arizona">type-4</option>
															<option value="Washington">type-5</option>
														</select>
														<!-- /.select-city --> 
													</div>
												</div>
											</div>
											<div class="col-md-4">
												<div class="single-select bg-light p-4 pb-5 mb-4">
													<label class="mb-4">Do you need emergency support?</label>
													<div class="custom-control custom-switch">
														<input type="checkbox" class="custom-control-input" id="customSwitch1">
														<label class="custom-control-label" for="customSwitch1"></label>
													</div>
												</div>
											</div>
											<div class="col-md-4">
												<div class="single-select bg-light p-4 pb-5 mb-4">
													<label class="mb-4">Do you need IP?</label>
													<div class="custom-control custom-switch">
														<input type="checkbox" class="custom-control-input" id="customSwitch2">
														<label class="custom-control-label" for="customSwitch2"></label>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="additional-security">
										<h4 class="mb-4">Select Additional Security Options</h4>
										<div class="row">
											<div class="col-md-6">
												<div class="single-select bg-light p-4 mb-4">
													<label>Select your any other support.</label>
													<div class="selcet-icon">
														<select name="select-apartment" class="select-service form-control">
															<option value="your-city">Select support option</option>
															<option value="Newyork">support-1</option>
															<option value="California">support-2</option>
															<option value="Texas">support-3</option>
															<option value="Arizona">support-4</option>
															<option value="Washington">support-5</option>
														</select>
														<!-- /.select-city --> 
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="single-select bg-light p-4 mb-4">
													<label>Security robot or bulletproof tools.</label>
													<div class="selcet-icon">
														<select name="select-apartment" class="select-service form-control">
															<option value="your-city">Choose tools type</option>
															<option value="Newyork">type-1</option>
															<option value="California">type-2</option>
															<option value="Texas">type-3</option>
															<option value="Arizona">type-4</option>
															<option value="Washington">type-5</option>
														</select>
														<!-- /.select-city --> 
													</div>
												</div>
											</div>
											<div class="col-md-12">
												<div class="single-select bg-light p-4 mb-4">
													<label>Include other additional features for security</label>
													<div class="selcet-icon">
														<div class="additional-features">
															<input type="checkbox" id="pepper-spray" name="pepper-spray" value="Pepper Spray">
															<label for="pepper-spray" class="bg-white text-center">Pepper Spray</label>
															<input type="checkbox" id="handgun" name="handgun" value="Handgun">
															<label for="handgun" class="bg-white text-center">Handgun</label>
															<input type="checkbox" id="sniper" name="sniper" value="Sniper">
															<label for="sniper" class="bg-white text-center">Sniper</label>
															<input type="checkbox" id="body-scanners" name="body-scanners" value="Body Scanners">
															<label for="body-scanners" class="bg-white text-center">Body Scanners</label>
															<input type="checkbox" id="fire-sefty" name="fire-sefty" value="Fire Sefty">
															<label for="fire-sefty" class="bg-white text-center">Fire Sefty</label>
															<input type="checkbox" id="backup" name="backup" value="Backup">
															<label for="backup" class="bg-white text-center">Backup</label>
															<input type="checkbox" id="ambulance" name="ambulance" value="Ambulance">
															<label for="ambulance" class="bg-white text-center">Ambulance</label>
															<input type="checkbox" id="sefty-bag" name="sefty-bag" value="Sefty Bag">
															<label for="sefty-bag" class="bg-white text-center">Sefty Bag</label>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-12">
												<div class="total-cost margin-30">
													<div class="row">
														<div class="col-md-8">
															<div>
																<p><strong>Note: </strong> Primis orci erat ante. Lorem iaculis odio nam. Tellus aliquam consectetuer velit. Nonummy curabitur nec pellentesque justo tellus netus tempus dolor penatibus urna cum. Elementum ad pulvinar.</p>
															</div>
														</div>
														<div class="col-md-4">
															<span class="float-right font-large px-4 py-3 bg-primary text-dark">
																<strong>Total Cost: </strong>
																<span>$22,000</span>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Pricing Extend Section End -->

		<!-- Footer Section Start -->
		<footer class="full-row bg-footer footer-default-dark" style="padding-bottom: 30px;">
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-lg-3 col-md-6">
						<div class="footer-widget contact-widget mb-5">
							<div class="footer-logo mb-4">
								<img src="assets/images/logo/1.png" alt="Image not found!">
							</div>
						</div>
						<div class="footer-widget media-widget mb-5">
							<a href="#"><i class="fab fa-facebook-f"></i></a>
							<a href="#"><i class="fab fa-twitter"></i></a>
							<a href="#"><i class="fab fa-linkedin-in"></i></a>
							<a href="#"><i class="fab fa-google-plus-g"></i></a>
							<a href="#"><i class="fab fa-pinterest-p"></i></a>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-6">
						<div class="footer-widget contact-widget mb-5">
						<h4 class="widget-title mb-4 font-weight-normal">Contact Info</h4>
							<ul>
								<li>Collins Street West, Victoria 8007, Australia</li>
								<li>Phone: 902-000-99999</li>
								<li>Email: support@owehbureau.com</li>
							</ul>
						</div>
					</div>
					<div class="col-xl-3 col-lg-2 col-md-6">
						<div class="footer-widget widget-nav mb-5">
						<h4 class="widget-title mb-4 font-weight-normal">Page Links</h4>
							<ul>
								<li><a href="#">About Company</a></li>
								<li><a href="#">Terms and Conditions</a></li>
								<li><a href="#">Consultation</a></li>
								<li><a href="#">How It Work</a></li>
								<li><a href="#">Emeargency Support</a></li>
								<li><a href="#">FAQs</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6">
						<div class="footer-widget appointment-widget mb-4">
						<h4 class="widget-title mb-4 font-weight-normal">Appointment</h4>
						<p>Morbi risus velit nulla lorem et malesuada. Magnis, vel faucibus risus fusce sit senectus mus.</p>
						<a href="#" class="btn btn-primary d-block mt-4">Make An Appointment</a>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="bg-footer py-3">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<span>© 2020 All Rights Reserved Owehbureau</span>
					</div>
					<div class="col-md-6">
						<ul class="line-menu float-md-right list-color-general">
							<li class="float-left"><a href="#">Privacy Policy </a></li>
							<li class="float-left">|</li>
							<li class="float-left"><a href="#">Terms and Condition</a></li>
							<li class="float-left">|</li>
							<li class="float-left"><a href="#">Sitemap</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer Section End -->
			
		<!-- Scroll to top -->
		<a href="#" class="bg-primary text-white" id="scroll"><i class="fa fa-angle-up"></i></a>
		<!-- End Scroll To top -->

	</div><!-- Page Wrapper End -->
	
	<!--===============================================================================================-->
	<!-- All Javascript Plugin File here -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/jquery.fancybox.min.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script> 
	<script src="assets/js/wow.js"></script>
	<script src="assets/js/paraxify.js"></script>
	<script src="assets/js/mixitup.min.js"></script>
	<script src="assets/js/custom.js"></script>

</body>
</html>