
		
		<!-- Breadcrumb Section Start -->
		<div class="pt-3">
			<div class="container">
				<div class="row">
					<div class="col">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb bg-transparent px-0">
							  <li class="breadcrumb-item"><a href="/" class="text-secondary">Home</a></li>
							  <li class="breadcrumb-item text-primary active" aria-current="page">Profile</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumb Section End -->	
	
		<!-- Profile Details Section Start -->	
		<div class="full-row pt-5">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4 mb-sm-30">
						<img src="assets/images/officer.png" alt="image not found!">
					</div>
					<div class="col-lg-8 col-md-8">
						<div class="pb-3 border-bottom mb-4">
							<h4 class="mb-2">Itanyi Ugbede Henry</h4>
							<span>Fouder, Security Expert</span>
						</div>
						<p>Dapibus ullamcorper eu. Taciti quisque suspendisse egestas semper integer ac aliquam Mollis elit lobortis euismod tellus Dolor. Nascetur sociosqu blandit mi. Vehicula placerat pede nisi dapibus suspendisse mattis fusce elit feugiat. Volutpat ridiculus lorem ullamcorper penatibus auctor viverra porttitor, facilisis eleifend rutrum tempor semper nullam aliquam dapibus.</p>
						<p>Nisl risus euismod. Curabitur fames nonummy integer netus vitae in eros consequat facilisi class turpis sociosqu faucibus porta fermentum ultricies adipiscing platea. Praesent. Posuere. Magna suscipit dis morbi. Convallis, malesuada semper laoreet lectus.</p>
						<h5 class="down-line mb-4">Personal Informations</h5>
						<p>Nullam semper, volutpat commodo nunc in semper, id rutrum, sem torquent sodales. Varius dis bibendum nam. Vivamus erat dignissim senectus.</p>
						<ul class="mb-4">
							<li class="mb-2"><b>Location:</b> Lagos, Nigeria</li>
							<li class="mb-2"><b>Experience:</b> 15 Years</li>
							<li class="mb-2"><b>Phone:</b> (+234) 813-564-2134</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- Profile Details Section End -->

		<!-- Working Experence Section Start -->
		<div class="full-row pt-0">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h4 class="down-line w-50 mx-auto text-center w-sm-100 mb-4">Working Experence</h4>
						<span class="d-table w-75 w-sm-100 font-medium mx-auto text-center mb-5 font-italic">Augue tincidunt dapibus luctus, eget mus eu porta sed. Metus dictumst sociosqu aptent odio nulla integer nec penatibus tempus enim netus tincidunt nascetur primis augue enim etiam.</span>
					</div>
				</div>
				<div class="working-experience-thumb position-relative">
					<div class="row">
						<div class="col-sm-6 d-none d-sm-block">
							<div class="btn-experience-left float-right"> 
								<a class="btn btn-primary rounded-0" href="#">2011-2012</a>
							</div>
						</div>
						<div class="col-sm-6 mb-4 mb-sm-0">
							<div class="experience-content-right text-left pl-3">
								<h5 class="mb-4">Nigerian Immigration Service (NMS)</h5>
								<p>Commodo. Diam urna conubia, quam facilisis class dictumst suscipit laoreet semper porttitor nibh dapibus elit iaculis risus non rhoncus donec nisl orci curae; semper consequat magnis. Congue eu nascetur vivamus congue accumsan dis consequat interdum feugiat mauris augue mattis ligula.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 mb-4 mb-sm-0">
							<div class="experience-content-left text-right pr-3">
								<h5 class="mb-4">SWAT Organization</h5>
								<p>Commodo. Diam urna conubia, quam facilisis class dictumst suscipit laoreet semper porttitor nibh dapibus elit iaculis risus non rhoncus donec nisl orci curae; semper consequat magnis. Congue eu nascetur vivamus congue accumsan dis consequat interdum feugiat mauris augue mattis ligula.</p>
							</div>
						</div>
						<div class="col-sm-6 d-none d-sm-block">
							<div class="btn-experience-right float-left">
								<a class="btn btn-primary rounded-0" href="#">2008-2010</a>
							</div>
						</div>
				</div>
			</div>
		</div>
		<!-- Working Experence Section End -->

		<!-- Skills Section Start -->
		<div class="full-row bg-gray">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<h4 class="down-line mb-4">Education and Experience</h4>
						<p>Habitasse est in curabitur morbi imperdiet, proin. Dolor cum porttitor luctus netus. Curabitur Tortor lectus ridiculus lorem nibh ornare tincidunt.</p>
						<div class="mb-4">
							<span class="h6 mb-2">2018-2022</span>
							<p>MSC. University of Lagos - Lagos, Nigeria</p>
						</div>
						<div class="mb-4">
							<span class="h6 mb-2">2005-2018</span>
							<p>BSC. University of Lagos - Lagos, Nigeria</p>
						</div>
						<div class="mb-4">
							<span class="h6 mb-2">1992-2002</span>
							<p>FLSC. Markurdi Primary School- Benue Nigeria</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Skills Section End -->